LOCATION=staff.html
PARENT=ROOT
PAGENAME="Staff"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <h3>Headteacher:</h3>
            <ul>
                <li>Mrs J Northwood</li>
            </ul>
        <h3>Deputy Headteacher:</h3>
            <ul>
                <li>Mrs S Clarke</li>
            </ul>
        <h3>Teaching Staff:</h3>
            <ul>
                <li>Miss Y Whaley (TLR, ECC &amp; ECaR)</li>
                <li>Mrs C Davies (Foundation)</li>
                <li>Miss L Careless</li>
                <li>Mrs A Melling</li>
                <li>Miss S Shelton</li>
                <li>Miss A Wood</li>
                <li>Miss J Readman (GTP)</li>
            </ul>
        <h3>Teaching Assistants:</h3>
            <ul>
                <li>Mrs W Baker</li>
                <li>Mrs L Bleything</li>
                <li>Mrs W Brooks</li>
                <li>Mrs S Bullivant</li>
                <li>Mrs E Collins</li>
                <li>Mr D Cross</li>
                <li>Ms Caldbeck</li>
                <li>Miss T Hickman</li>
                <li>Miss C Mason</li>
                <li>Mrs A Robinson</li>
                <li>Mrs A Shakespeare</li>
            </ul>
        <h3>Office Manager:</h3>
            <ul>
                <li>Mrs A. Newton</li>
            </ul>
        <h3>Admin Assistants:</h3>
            <ul>
                <li>Mrs L Wood</li>
                <li>Mrs J Milner</li>
            </ul>
        <h3>Caretaker:</h3>
            <ul>
                <li>Mr A Draper</li>
            </ul>
        <h3>Cleaners:</h3>
            <ul>
                <li>Miss A Needham</li>
                <li>Miss S Sanderson</li>
                <li>Mrs S Hart</li>
            </ul>
        <h3>Cooks:</h3>
            <ul>
                <li>Miss A Jones</li>
                <li>Mrs J Meredith</li>
                <li>Mrs J Waugh</li>
            </ul>
        <h3>Crossing Patrol:</h3>
            <ul>
                <li>Mrs T Howard</li>
            </ul>
        <h3>Lunchtime Supervisors:</h3>
            <ul>
                <li>Mrs J Crosby</li>
                <li>Mrs A Mahoney</li>
                <li>Mrs J Dexter</li>
            </ul>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
