LOCATION=classes/Oak.html
PARENT=classes/index.html
PAGENAME="Oak Class"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<img src="img/oak.jpg" alt="Oak Class" />
		<img src="classes/oak/aroundtheworld.jpg" />
		<img src="classes/oak/french.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
