LOCATION=classes/Oak.html
PARENT=classes/index.html
PAGENAME="Oak Class"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<img src="img/oak.jpg" alt="Oak Class" />
		<p><a href="classes/oak/Aut08.pdf">Download the autumn 2008 class leaflet.</p>
		<img src="classes/oak/literacymaths.jpg" />
		<img src="classes/oak/redridinghood.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
