LOCATION=index.html
PAGENAME=Home
PARENT=ROOT
H1OVERRIDE="Welcome to Toll Bar Primary School's Website"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p style="text-align:center;"><a href="newsletters/201011.pdf">Click to read the November 2010 newsletter</a></p>
		<div style="width:98%">
			<div style="width: 48%;float:left;">
				<dl>
					<dt>Christmas Concerts - Tuesday 7th &amp; Wednesday 8th December</dt>
					<dd>Originally Tuesday 7th &amp; Wednesday 8th December now Wednesday 8th and Thursday 9th December. All tickets transferrable from Tuesday to Wednesday and Wednesday to Thursday.
					<ul>
						<li>Sycamore, Oak and Foundation Concert- Wednesday 8th December 10.00 am (Adults only/cr&egrave;che provided)</li>
						<li>Willow &amp; Chestnut Concert- Wednesday 8th December 6.00 pm</li>
						<li>Sycamore, Oak and Foundation Concert- Thursday 9th December 10.00 am</li>
						<li>Willow &amp; Chestnut Concert- Thursday 9th December 2.00 pm (Adults only/cr&egrave;che provided)</li>
					</ul></dd>
					<dt>Christmas Fair - Now Wednesday 8th December</dt>
					<dd>From 1.15 pm to 3.00 pm. Please come along and join us. Raffle, tombola, Caf&eacute;, Father Christmas, face painting, stalls and games. Any Donations of cakes and buns would be very welcome.</dd>
					<dt>Brass Concert by Willow Class- Thursday 9th December</dt>
					<dd>Willow Class will be playing some Christmas carols on Thursday 9th       December at 11.30 am in School, Parents welcome.</dd>
					<dt>Carol Singing at Moat Hills Day Care Centre-Thursday 9th December</dt>
					<dd>The choir will be singing carols to the day residents at Moat Hills Day Care centre in Bentley, children will be leaving school at 1pm and back for 2.30 pm</dd>
				</dl>
			</div>
			<div style="width: 48%;float:right;">
				<dl>
					<dt>Carol Singing in the Frenchgate Centre- Friday 10th December</dt>
					<dd>The choir are singing between 10.30 am to 12 noon outside Next, upstairs</dd>
					<dt>Carol Singing-Monday 13th December</dt>
					<dd>The choir will be singing carols to the Toll Bar OAP’s on Monday 13th December in School from 1.30pm</dd>
					<dt>Pantomime - Tuesday 14th December</dt>
					<dd>Leaving school at 12.45 pm, back at approx 5.30 pm. All tickets to be paid for by Friday 3rd December. Children to be collected from inside school.</dd>
					<dt>Church Service -Wednesday 15th December</dt>
					<dd>Parents and carers are welcome to walk with us. Leaving school at 9.15 am - please come and join us.</dd>
					<dt>Christmas School Dinner - Wednesday 15th December
					<dd>It would be lovely if all children stayed for a school dinner today. Dinners cost &pound;1.70.</dt>
					<dt>Christmas Parties - Thursday 16th December</dt>
					<dd>Christmas Parties will be held on Thursday 16th December at 1.00 pm and will finish at 4.00 pm.<br/>
					Foundation party 1.00 pm to 3.00 pm<br/>
					Lower Foundation to come at 1.00 pm to 3.00 pm<br/>Any party food would be welcome</dd>
					<dt>Christmas Holidays</dt>
					<dd>Break up on Friday 17th December at 3.00pm. School reopens on Tuesday 4th January at 8.30 am</dd>
			</div>
		</div>
		<div style="text-align:center;"><img src="img/welcome.jpg" alt="Welcome to Toll Bar Primary!" /></div>
		<img src="img/head.jpg" class="right" />
		<h2>Message from Mrs Northwood</h2>
        <p><strong>Welcome to our School</strong></p>
        <p>In Toll Bar we believe we are a 'Community Primary' school and we intend these pages to reflect some of the things that happen in and around our school with the help of the community that we serve ...... plus all sorts of other interesting bits and pieces!</p>
        <p>We believe Toll Bar Primary School to be a safe, caring environment, where in partnership with you we can try to achieve your child's full potential.</p>
        <p>Our aim in the school is to educate the whole child, and through the curriculum will provide for the learning of skills and knowledge, a child should be given every opportunity to realise their aspirations and express their feelings. The whole curriculum conforms to the requirements of the National Curriculum. We are committed to safeguarding children and promote the welfare of every child in our school. Children respond to the interest and appreciation which we both show in their education, and I hope that our time together will be enjoyable, valued and successful.</p>
        <p style="text-align:center;">
At Toll Bar Primary School children have the right to<br>
<strong>Learn</strong> in an encouraging environment <br>
Feel <strong>Safe</strong> and cared for in School <br>
<strong>Achieve</strong> the best they can <br>
<strong>Enjoy</strong> time in school <br>
<strong>Know</strong> that any adult in school can be approached<br>
for help, advice or guidance.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP