LOCATION=index.html
PAGENAME=Home
PARENT=ROOT
H1OVERRIDE="Welcome to Toll Bar Primary School's Website"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p style="text-align:center;"><a href="newsletters/201106.pdf">Click to read the June 2011 newsletter</a></p>
		<div style="width:98%">
			<div style="width: 48%;float:left;">
				<h3>June 2011</h3>
				<ul>
					<li>21st - Teddy Bears Picnic for Foundation</li>
					<li>24th - Years 1/2 multi-skills festival</li>
					<li>27th-1st July - Hatfield Water Park residential</li>
				</ul>
				<h3>July 2011</h3>
				<ul>
					<li>5th - Year 5 Performing Arts Day at Don Valley</li>
					<li>5th - Foundation visit to Pets Corner</li>
					<li>7th - Summer Fayre</li>
					<li>8th - Mini Olympics</li>
					<li>11th - Sports Day (backup on 12th)</li>
					<li>12th - Bike Ride for Years 5 and 6</li>
				</ul>
			</div>
			<div style="width: 48%;float:right;">
				<h3>July 2011</h3>
				<ul>
					<li>13th - Technology Challenge final at Castle Hills</li>
					<li>14th - Swimming Gala</li>
					<li>14th-15th - F1 children staying for lunch</li>
					<li>15th - Reports to parents</li>
					<li>18th - Year 6 leavers concert</li>
					<li>18th - Open evening</li>
					<li>19th - Year 6 party</li>
					<li>22nd - Training Day</li>
				</ul>
			</div>
		</div>
		<div style="text-align:center;"><img src="img/welcome.jpg" alt="Welcome to Toll Bar Primary!" /></div>
		<img src="img/head.jpg" class="right" />
		<h2>Message from Mrs Northwood</h2>
        <p><strong>Welcome to our School</strong></p>
        <p>In Toll Bar we believe we are a 'Community Primary' school and we intend these pages to reflect some of the things that happen in and around our school with the help of the community that we serve ...... plus all sorts of other interesting bits and pieces!</p>
        <p>We believe Toll Bar Primary School to be a safe, caring environment, where in partnership with you we can try to achieve your child's full potential.</p>
        <p>Our aim in the school is to educate the whole child, and through the curriculum will provide for the learning of skills and knowledge, a child should be given every opportunity to realise their aspirations and express their feelings. The whole curriculum conforms to the requirements of the National Curriculum. We are committed to safeguarding children and promote the welfare of every child in our school. Children respond to the interest and appreciation which we both show in their education, and I hope that our time together will be enjoyable, valued and successful.</p>
        <p style="text-align:center;">
At Toll Bar Primary School children have the right to<br>
<strong>Learn</strong> in an encouraging environment <br>
Feel <strong>Safe</strong> and cared for in School <br>
<strong>Achieve</strong> the best they can <br>
<strong>Enjoy</strong> time in school <br>
<strong>Know</strong> that any adult in school can be approached<br>
for help, advice or guidance.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP