LOCATION=ourschool/index.html
PARENT=ROOT
PAGENAME="Our School"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <p>Please use the links on the right to navigate the 'Our School' section of the site!</p>
		<img src="ourschool/ourschool.jpg" />
	<h3>Homework</h3>
	<p>The school has a homework policy which states that all children from Year 2 onwards should receive and complete homework each week in addition to practising their reading books. The allocated time is 30 minutes a week for Year 2 children and increasing by 10 minutes for each year after that.</p>
	<p>Homework will be set on a specific day each week according to the class teacher and will be collected after a suitable time has been allowed for it to be completed.</p>
	<h3>Handwriting</h3>
	<p>The school teaches the children a specific and structured handwriting scheme across all year groups. It builds on lessons learned previously on forming letters a  certain way to make joining more fluent. As a school we believe that if a child is proud of their handwriting they are even more proud of what they have written.</p>
	<h3>Maths</h3>
	<p>The school has developed a structured way of teaching calculations (+ - &times; &divide;). We are always willing to share with parents the most suitable way to support them in their learning and homework and if you have any questions please see the class teacher.</p>
	<p>Additionally we would always encourage you to spend time with your child playing games (snakes and ladders, ludo, monopoly, dominoes etc) as this encourages participation in a team, turn taking and sharing.</p>
		<img src="ourschool/band.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP