LOCATION=parents/index.html
PARENT=ROOT
PAGENAME="For Parents"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <p>Please use the links on the right to look at courses available for parents, or to download forms.</p>
        <h3>Links</h3>
        <p>You may also be interested in these links:</p>
        <dl>
            <dt><a href="http://www.parentscentre.gov.uk/">parentscentre</a></dt>
            <dt><a href="http://www.bbc.co.uk/schools/parents/">BBC Schools - Parents</a></dt>
            <dt><a href="http://www.yearofreading.org.uk/">2008 - National Year of Reading</a></dt><dd>Help and information for parents who wish to help their child's reading at home.</dd>
        </dl>
		<p><em>Please note that we can not be responsible for content of external sites.</em></p>
		<h3>Local Childminders</h3>
		<p><strong>Jackie Watchorn</strong><br/>119 Manor Estate<br/>Toll Bar<br/>Doncaster<br/>DN5 0RH<br/><br/>Tel 01302 873697</p>
		<p>Full list of childminders available from Families Information Service. Telephone: 0800 1384568</p>
		<h3>Neighbourhood Team</h3>
		<p>Neighbourhood Team Drop in Sessions in the Community Room<br/>
		Monday 2-3 pm, Wednesdays 6-7 pm and Friday 2-3 pm.<br/>
		Telephone 01302 385860.</p>
		<h3>Community Groups</h3>
		<table border="1">
            <tr><th>Day</th><th>Group</th><th>Time</th></tr>
            <tr><th rowspan="4">Monday</th>
                <td>Citizens Advice</td><td>1.00-3.00 pm</td></tr>
            <tr><td>One O'Clock Club</td><td>1.00-3.00 pm</td></tr>
            <tr><td>Neighbourhood Team</td><td>2.00-3.00 pm</td></tr>
            <tr><td>The Healthy Option</td><td>19.00-20.30</td></tr>
            <tr><th rowspan="2">Tuesday</th>
                <td>Looking Good Feeling Great</td><td>10.00-11.45 am</td></tr>
            <tr><td>Storysacks (starting 24/2/09) Suitable for adults with children under 8.</td><td>09.00-11.30 am</td></tr>
            <tr><th rowspan="2">Wednesday</th>
                <td>Get It Together - IT suite</td><td>1.00-3.00 pm</td></tr>
            <tr><td>Neighbourhood Team</td><td>6.00-7.00 pm</td></tr>
            <tr><th>Thursday</th>
                <td>Sure Start Parents and Toddlers Group. If you have pre school children why not come along!</td><td>1.00-3.00 pm</td></tr>
            <tr><th>Friday</th>
                <td>Neighbourhood Team</td><td>2.00-3.00 pm</td></tr>
        </table>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP