LOCATION=parents/index.html
PARENT=ROOT
PAGENAME="For Parents"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <p>Please use the links on the right to look at courses available for parents, or to download forms.</p>
		<h3>Leading Parent Partnership Award</h3>
		<p>As you aware the school values the contribution Parents and Carers make to school life
		very highly. With this in mind we are aiming to achieve the Leading Parent Partnership
		Award (LPPA) in the near future. As always we would like to hear your opinions on
		activities and events offered at school as well as ideas for future events (however small or
		large).</p>
		<p>You already know how much your children enjoy sharing their learning experiences
		with you and we hope this enjoyment is shared throughout the school. If you have any
		comments or suggestions about how to further development the role of Parents and
		Carers in school please feel free to come in. You could have a chat with Miss Whaley
		(LPPA co-ordinator) or Mrs Wood (Extended schools co-ordinator) or simply jot your
		ideas down and send them in with your child.</p>
		<p>We are proud of our Parents and Carers and want their time at Toll Bar Primary to be as
		happy for them as it is for their children.</p>
        
		<h3>Links</h3>
        <p>You may also be interested in these links:</p>
        <dl>
            <dt><a href="http://www.parentscentre.gov.uk/">parentscentre</a></dt>
            <dt><a href="http://www.bbc.co.uk/schools/parents/">BBC Schools - Parents</a></dt>
            <dt><a href="http://www.yearofreading.org.uk/">2008 - National Year of Reading</a></dt><dd>Help and information for parents who wish to help their child's reading at home.</dd>
			<dt><a href="http://www.doncasterchildrenandfamilies.info/">Doncaster Families Information Service</a></dt><dd>A central point of information on childcare and family support information for parents and carers in the Doncaster area</dd>
			<dt><a href="http://www.sunsmart.org.uk/advice-and-prevention/sunburn/">Sunburn - Skin Cancer Prevention Advice</a></dt>
			<dt><a href="http://www.sunsmart.org.uk/yourstories/">Skin Cancer stories</a></dt>
			<dt><a href="http://www.sunsmart.org.uk/advice-and-prevention/nicola-roberts-top-tips/">Sun Smart - Nicola Roberts' top tips</a></dt>
			<dt><a href="http://www.sunsmart.org.uk/advice-and-prevention/Competition/">Feel the summer, not the burn</a></dt><dd>Celebrity SunSmart messages from T4 on the Beach (2011)</dd>
		</dl>
		<p><em>Please note that we can not be responsible for content of external sites.</em></p>
		
		<h3>RAINBOW Programme</h3>
		<p>We are pleased to announce that we will be starting RAINBOWS again at  the end of September during the school day. We will be having weekly support  groups for our children. We have  successfully run this programme over the last 3 years. </p>
		<p>If your child is part of a single parent family, a step-family, has  experienced the death of a loved one, or is struggling through a painful  experience, this will be an opportunity for him/her to share their thoughts and  help them to deal with them.</p>
		<p>When something significant happens in a family, the entire family is  affected. Even though death, divorce or  other loss issues appear to be only grown-up problems, they have an effect on  the children. Children may find it  extremely difficult to talk about their feelings because of their age and  inexperience.</p>
		<p>We have some very caring trained staff who are willing to help the  children put their feelings into words, building a stronger sense of  self-esteem, and begin to accept what has taken place in the community. All discussions will be treated  confidentially and each person is asked to keep the confidentiality of the  group.</p>
		<p>If you would like your child to take part in the RAINBOW programme, please  make an appointment to see Mrs Clarke. Permission  forms will need to be signed by a parent/carer, and each child will receive  their own letter to explain the RAINBOW programme.</p>
		<p><strong>The support group  will meet every week. </strong></p>
		
		<h3>Drop in for a Coffee</h3>
		<p><strong><em>Toll Bar Primary School Community room</em></strong></p>
		<p>Every one welcome to come along for coffee, a chat and a chance to catch up on what's happening in school.</p>
		<p>Every Wednesday morning 9.00am in the Toll Bar Primary School Community Room. Refreshments provided: tea &amp; toast, coffee &amp; biscuits (all refreshments free).</p>
		<p>Come and see Lynn, we can have a cuppa and a chat; share ideas; meet new parents; make some friends.</p>
		
		<h3>Local Childminders</h3>
		<p><strong>Jackie Watchorn</strong><br/>119 Manor Estate<br/>Toll Bar<br/>Doncaster<br/>DN5 0RH<br/><br/>Tel 01302 873697</p>
		<p>Full list of childminders available from Families Information Service. Telephone: 0800 1384568</p>


EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
