LOCATION=parents/index.html
PARENT=ROOT
PAGENAME="For Parents"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <p>Please use the links on the right to look at courses available for parents, or to download forms.</p>
		<p><em>2nd September 2010</em></p>
		<h3>Welcome Back!</h3>
		<p>I hope you have had a good summer break and the children who attended  the Holiday Club enjoyed the pilot scheme we managed to arrange this year.  Hopefully we will be able to arrange this again.</p>
		<p>The Breakfast Club will start again on Monday 6th September  at 8.00 am</p>
		<p>Please find attached a number of forms to complete, we realise that we  send a large number of letters home, but we do have to comply to a number of  legal requirements.</p>
		<p>We are are hoping to reduce the paperwork this year by asking parents to  compete the day trips medical form once every term, however we can only do this  if everyone informs us of any changes to mobile telephones and any changes to  medical conditions.  If this proves to be  successful then we hope to extend this to an annual consent form.</p>
		<p>We are hoping to arrange a number of after-school clubs for the children  and courses for adults and family learning. Further details will be sent.</p>
		<p>Volunteer helpers are always welcome in school, please have a word with  your child’s class teacher or myself if you are interested.</p>
		<p>Mrs Armistead has decided to take early retirement, after 20 years  working at Toll Bar Primary School.  I know that many of you will wish her the best and remember her fondly.  If you would like to make a contribution  towards a gift please send to the office. </p>
		<p>If you have any worries or concerns please do not hesitate to come and  see me.<strong> </strong></p>
		<p>Yours faithfully</p>
		<p>&nbsp;</p>
		<p>Mrs J Northwood<br />
		  Headteacher</p>
        <h3>Links</h3>
        <p>You may also be interested in these links:</p>
        <dl>
            <dt><a href="http://www.parentscentre.gov.uk/">parentscentre</a></dt>
            <dt><a href="http://www.bbc.co.uk/schools/parents/">BBC Schools - Parents</a></dt>
            <dt><a href="http://www.yearofreading.org.uk/">2008 - National Year of Reading</a></dt><dd>Help and information for parents who wish to help their child's reading at home.</dd>
        </dl>
		<p><em>Please note that we can not be responsible for content of external sites.</em></p>
		<h3>RAINBOW Programme</h3>
		<p>We are pleased to announce that we will be starting RAINBOWS again at  the end of September during the school day. We will be having weekly support  groups for our children.  We have  successfully run this programme over the last 3 years. </p>
		<p>If your child is part of a single parent family, a step-family, has  experienced the death of a loved one, or is struggling through a painful  experience, this will be an opportunity for him/her to share their thoughts and  help them to deal with them.</p>
		<p>When something significant happens in a family, the entire family is  affected.  Even though death, divorce or  other loss issues appear to be only grown-up problems, they have an effect on  the children.  Children may find it  extremely difficult to talk about their feelings because of their age and  inexperience.</p>
		<p>We have some very caring trained staff who are willing to help the  children put their feelings into words, building a stronger sense of  self-esteem, and begin to accept what has taken place in the community.  All discussions will be treated  confidentially and each person is asked to keep the confidentiality of the  group.</p>
		<p>If you would like your child to take part in the RAINBOW programme, please  make an appointment to see Mrs Clarke.  Permission  forms will need to be signed by a parent/carer, and each child will receive  their own letter to explain the RAINBOW programme.</p>
		<p><strong>The support group  will meet every week. </strong></p>
		<h3>The Incredible Years Parent  Programme</h3>
		<p>We are pleased to announce that “The Incredible Years Parent  Programme” is being run again in Toll   Bar Primary    school.</p>
		<p>The Programme is designed for you to get together with  our fully trained members of staff and other parents to discuss ways of dealing  with all types of children’s behaviour.</p>
		<p>The programme will begin on<br />
		  <strong>Monday 20th September 2010</strong> in Cedar room at <strong>9am</strong></p>
		<p><strong>It will be interesting and fun, tea /  coffee &amp; biscuits supplied  </strong></p>
		<p><strong>Looking forwards to seeing you there</strong><br />
		  <strong>“Bal Kaur Singh &amp; Claire Didcott”</strong></p>
		<p><em>Please contact the office if you are interested.</em></p>
		<h3>Drop in for a Coffee</h3>
		<p><strong><em>Toll Bar Primary School Community room</em></strong></p>
		<p>Every one welcome to come along for coffee, a chat and a chance to catch up on what's happening in school.</p>
		<p>Every Wednesday morning starting this week on 13th January from 8.45am - 10.00am</p>
		<p><strong>Wednesday 31st March: In the school hall at 10.00am, every one welcome to come along and join us for Coffee, Bingo and Raffle. Your children may join you at break time and after the coffee morning you are invited to visit your child's class as they are taking part in an Easter Challenge!</strong></p>
		<p>Hope to see you</p>
		<div style="padding: 5px;border: 1px solid #333333;background-color:#d6d6d6;margin-bottom: 5px;">
		<h3>Get going this New Year and get active with the FREE Carnegie Clubs!</h3>
		<p>Carnegie Clubs promote healthy lifestyles and physical activity for
overweight young people and their families. If you are registered with a
Doncaster GP and struggle with your weight, come and join the <strong>FREE</strong> Carnegie
Clubs. The 12 week programmes are run by Carnegie Weight Management and
funded by NHS Doncaster.</p>

<p>The New Year Doncaster Clubs will begin on Saturday 16th January 2010 and
run for 12 weeks.<br>
The Club for 4 - 10 year olds will be held at Adwick Leisure Centre, Welfare
Road, Woodlands, DN6 7QF from 9.00am - 12.30pm.<br>
The Club for 11 - 17 year olds will be held at The Ian Wilson Community
Sports Village, Rossington, DN11 0BZ, from 1.30pm - 5.00pm.</p>

<p>Applications can be completed online at
<a href="http://www.carnegieweightmanagement.com/doncaster">www.carnegieweightmanagement.com/doncaster</a> or by contacting us on 0113 812
5358.</p>

<p>Carnegie Clubs provide an opportunity for all the family to make small
changes and see big differences to their lifestyles. Encompassing physical
activity, lifestyle education and social interaction, the Club programme is
designed to equip families with the knowledge and understanding to take
control of their weight at home and improve their lives.</p>
</div>
		<h3>Local Childminders</h3>
		<p><strong>Jackie Watchorn</strong><br/>119 Manor Estate<br/>Toll Bar<br/>Doncaster<br/>DN5 0RH<br/><br/>Tel 01302 873697</p>
		<p>Full list of childminders available from Families Information Service. Telephone: 0800 1384568</p>


EOF
CONTENT=`cat $xTEMP`
rm $xTEMP