LOCATION=kids/index.html
PARENT=ROOT
PAGENAME="For Kids"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p>Check out these other sites for games, help with schoolwork and other things:</p>
		<dl>
		    <dt><a href="http://www.yahoodtgans.com/">Yahoo! Kids</a></dt>
            <dt><a href="http://www.ajkids.com/">Ask Kids</a></dt>
            <dt><a href="http://sunsite.berkeley.edu/KidsCdtck!/">KidsCdtck!</a></dt>
            <dt><a href="http://www.beritsbest.com/">Berit's Best</a></dt>
            <dt><a href="http://www.bbc.co.uk/schools/primaryfrench">BBC Primary French</a></dt>
            <dt><a href="http://www.bbc.co.uk/schools/">BBC Schools</a></dt><dd>A fantastic website offering a wealth of activities - Interactive Whiteboard, Literacy, Numeracy, Science, History, ICT, PE, DT, Geography, Art, RE, Music</dd>
            <dt><a href="http://www.bbc.co.uk/schools/ks2bitesize/index.shtml">KS2 Bitesize</a></dt>
            <dt><a href="http://school.discovery.com/brainboosters">Brain Boosters</a></dt><dd>Lots of brain teaser/problems.</dd>
            <dt><a href="http://www.bbc.co.uk/schools/numbertime/">Numbertime</a></dt><dd>Interactive Numeracy Games - Interactive Whiteboard, Numeracy</dd>
            <dt><a href="http://www.enchantedlearning.com/Home.html">Enchanted Learning</a></dt><dd>A website with lots of different activities - Art, Literacy, Geography, Science, French</dd>
            <dt><a href="http://thinks.com/">Thinks.com</a></dt><dd>Website with all sorts of puzzles and brain teasers.</dd>
            <dt><a href="http://www.bbc.co.uk/schools/laac/index.shtml">The Little Animals Activity Centre</a></dt><dd>The Little Animals Activity Centre is a fun way for 4-8 year olds to learn and play at home.</dd>
            <dt><a href="http://yucky.discovery.com/">The Yuckiest Site on the Internet</a></dt><dd>A science website with all you ever wanted to know about spots, stomachs and all things yucky!</dd>
            <dt><a href="http://www.gridclub.com/">The Grid Club</a></dt><dd>A government approved website with lots of games and activities for the children to enjoy.</dd>
            <dt><a href="http://www.britishmuseum.org/explore/highlights.aspx">The British Museum</a></dt><dd>Take a tour around lots of the exhibits and play some games. Great for History homework!</dd>
            <dt><a href="http://www.iamlearning.co.uk/">i am learning</a><dt><dd>Games based revision and assessment proven to raise results at KS2, KS3 and GCSE - login available from school</dd>
			<dt><a href="http://www.generationgreen.co.uk/eco-club/">Eco Club</a><dt><dd>British Gas's Generation Green</dd>
		</dl>
		<p><em>Please note that we can not be responsible for content of external sites.</em></p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP