LOCATION=classes/index.html
PARENT=ROOT
PAGENAME="Classes"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p>Please select the class from the links on the right.</p>
		<div style="text-align:center;"><img src="classes/africa.jpg" /><img src="classes/france.jpg" /></div>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP