LOCATION=parents/courses.html
PARENT=ROOT
PAGENAME="Extended Schools"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <h3>Extended Schools</h3>
        <div style="text-align:center;"><img src="ourschool/extended.jpg" /></div>
        <p>We are pleased to inform you that Mrs Bleything and Mrs Brooks can help you find the education you are seeking.</p>
        <p>Just pop into school and enquire about a course you are interested in and we will try and find you a course that is right for you.</p>
        <p>Both Mrs Bleything and Mrs Brooks can source all kinds of courses from computing to cooking, from flower arranging to gardening.</p>
        <div style="text-align:center;"><img src="img/gateways.jpg" /></div>
        
        <h3>Get IT Together</h3>
        <p>New computer course</p>
        <p>Every Wednesday during term time</p>
        <p>1.00 pm - 4.00 pm.</p>
        <p>Friendly helpful tutor</p>
        <p>No computer experience necessary</p>
        <p><a href="parents/ITSkills.pdf">Download form.</a></p>
        
        <h3>Sure Start Parent &amp; Toddler Group</h3>
        <p>At: Toll Bar Primary School</p>
        <p>In: Community Room</p>
        <p>Time: 1.00 - 3.00pm</p>
        <p>Every Thursday</p>
        <p>Refreshments available</p>  
        <p><a href="parents/surestart.pdf">Download form.</a></p>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
