LOCATION=parents/courses.html
PARENT=ROOT
PAGENAME="Extended Schools"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <h3>Extended Schools</h3>
        <div style="text-align:center;"><img src="ourschool/extended.jpg" /></div>
        <p>We are pleased to inform you that Mrs Bleything and Mrs Brooks can help you find the education you are seeking.</p>
        <p>Just pop into school and enquire about a course you are interested in and we will try and find you a course that is right for you.</p>
        <p>Both Mrs Bleything and Mrs Brooks can source all kinds of courses from computing to cooking, from flower arranging to gardening.</p>
        <p style="text-align:center;"><a href="parents/courses.pdf">Download sign up letter and form.</a></p>
        <div style="text-align:center;"><img src="img/gateways.jpg" /></div>
        
        <h3>Sure Start Parent &amp; Toddler Group</h3>
        <p>At: Toll Bar Primary School</p>
        <p>In: Community Room</p>
        <p>Time: 1.00 - 3.00pm</p>
        <p>Every Thursday</p>
        <p>Refreshments available</p>  
        <p><a href="parents/surestart.pdf">Download form.</a></p>
        
        <h3>Family Courses</h3>
        
        <h4>Magic Maths</h4>
        <p>A 5 week course providing an exciting and fun look at Math. Families work together to solve number puzzle based activities.</p>
        <p>Every Tuesday from the 15th September to the 13th October</p>
        <p>9.00 am - 11.30 am</p>
        <p>Free</p>
        
        <h4>Ready Steady Cook</h4>
        <p>A 5 week fun, informative course. Families work together cooking on a budget, healthy packed lunches and super smoothies.</p>
        <p>Every Tuesday from the 15th September to the 13th October</p>
        <p>9.00 am - 11.30 am</p>
        <p>Free</p>
        
        <h3>Adult Courses</h3>
        
        <h4>Digital Darkroom M2</h4>
        <p>A 6 week interesting course looking at using digital cameras.</p>
        <p>Every Tuesday from the 15th September to the 20th October</p>
        <p>1.00 pm - 3.00 pm</p>
        <p>£15</p>
        
        <h4>Get IT Together</h4>
        <p>A computer course open to all adults</p>
        <p>Every Wednesday during term time (restarting 23rd September)</p>
        <p>1.00 pm - 3.00 pm.</p>
        <p>Friendly helpful tutor</p>
        <p>No computer experience necessary! Everyone is welcome.</p>
        <p><a href="parents/ITSkills.pdf">Download form.</a></p>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
