LOCATION=curriculum/index.html
PARENT=ROOT
PAGENAME="Curriculum"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<h3>Topics children will be covering in the Autumn Term</h3>
		<img src="curriculum/traditionalstories.jpg" alt="" style="float:right;" />
		<p><strong>Maple</strong>: Traditional Stories</p>
		<hr style="width:100%;">
		<img src="curriculum/onceuponatime.jpg" alt="" style="float:right;" />
		<p><strong>Sycamore</strong>: Once Upon A Time</p>
		<hr style="width:100%;">
		<img src="curriculum/elements.jpg" alt="" style="float:right;" />
		<p><strong>Oak &amp; Cedar</strong>: Earthly Elements</p>
		<hr style="width:100%;">
		<img src="curriculum/aztec.jpg" alt="" style="float:right;" />
		<p><strong>Willow</strong>: Treasuries and mysteries</p>
		<hr style="width:100%;">
		<img src="curriculum/mine.jpg" alt="" style="float:right;" />
		<p><strong>Chestnut</strong>: We are not amused</p>
		<hr style="width:100%;">
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP