LOCATION=curriculum/index.html
PARENT=ROOT
PAGENAME="Curriculum"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<div>
		<h3>Topics children will be covering this term</h3>
		<img src="curriculum/traditionalstories.jpg" alt="" style="float:right;" />
		<p><strong>Maple</strong>: Traditional Stories</p>
		<br style="clear:both;">
		<img src="curriculum/fairyland.jpg" alt="" style="float:right;" />
		<p><strong>Sycamore</strong>: Fairy Land</p>
		<br style="clear:both;">
		<img src="curriculum/aroundtheworld.jpg" alt="" style="float:right;" />
		<p><strong>Oak</strong>: Around the World in 80 Days</p>
		<br style="clear:both;">
		<img src="curriculum/journeyintotheunknown.jpg" alt="" style="float:right;" />
		<p><strong>Willow</strong>: Journey into the unknown</p>
		<br style="clear:both;">
		<img src="curriculum/wearenotamused.jpg" alt="" style="float:right;" />
		<p><strong>Chestnut</strong>: We are not amused</p>
		<br style="clear:both;">
</div>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP