LOCATION=ourschool/afterschoolclub.html
PARENT=ROOT
PAGENAME="After School Clubs"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p>The following after school clubs will during Spring Term.</p>
        <p>Should you wish your child to take part, please sign in the appropriate form and return to school as soon as possible. (There are only limited places in all clubs.)</p>
        <p>All clubs are held after school from 3.00 pm to 4.00 pm.</p>
        <table border="1" cellspacing="0" cellpadding="0">
  <thead>
	  <tr>
		<th>Day</th>
		<th>Club</th>
		<th>Organised by</th>
		<th>Year</th>
		<th>Times (if different)</th>
	  </tr>
  </thead>
  <tbody>
	  <tr>
		<td>Monday</td>
		<td>Multi Skills</td>
		<td>Mr Cross</td>
		<td>Yrs 3,4,5,6</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Tuesday</td>
		<td>KS2 Computing</td>
		<td>Mr Cross</td>
		<td>Yrs 3,4,5,6</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Tuesday</td>
		<td>Theatre Group</td>
		<td>Miss Spencer</td>
		<td>Yrs 4&amp;5</td>
		<td>3.15 - 4.15 pm</td>
	  </tr>
	  <tr>
		<td>Tuesday</td>
		<td>KS2 Cooking (50 pence and a container for baking)</td>
		<td>Mrs Clarke &amp; Mrs Didcott</td>
		<td>Yrs 3,4,5,6</td>
		<td>3.00 - 4.15 pm</td>
	  </tr>
	  <tr>
		<td>Tuesday</td>
		<td>KS1 Sports</td>
		<td>Miss Shelton</td>
		<td>Yrs 1&amp;2</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Wednesday</td>
		<td>Homework &amp; Reading</td>
		<td>Mrs Whaley</td>
		<td>Yr 1-6</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Wednesday</td>
		<td>Film Club</td>
		<td>Mrs Crosby</td>
		<td>Yr 1-6</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Wednesday</td>
		<td>KS2 Sports</td>
		<td>Mrs Howey</td>
		<td>Yr 3-6</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Thursday</td>
		<td>KS1 Art &amp; Craft</td>
		<td>Miss Shakespeare &amp; Miss Morran</td>
		<td>Yrs 1&amp;2</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Thursday</td>
		<td>KS2 DT</td>
		<td>Miss Whaley &amp; Mrs Bleything</td>
		<td>Yrs 3,4,5,6</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>Thursday</td>
		<td>Boy's Dance</td>
		<td>Miss Belk</td>
		<td>Yrs 3,4,5,6</td>
		<td>&nbsp;</td>
	  </tr>
  </tbody>
</table>
<p><a href="ourschool/afterschoolclubform.pdf">Download form.</a></p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
