LOCATION=parents/courses.html
PARENT=ROOT
PAGENAME="Extended Schools"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <div style="text-align:center;"><img src="ourschool/extended.jpg" /></div>
        <p>We are pleased to inform you that Mrs Bleything and Mrs Brooks can help you find the education you are seeking.</p>
        <p>Just pop into school and enquire about a course you are interested in and we will try and find you a course that is right for you.</p>
        <p>Both Mrs Bleything and Mrs Brooks can source all kinds of courses from computing to cooking, from flower arranging to gardening.</p>
        <table border="2" cellspacing="0"> 
<tr valign="top"><td> </td> 
  <td>9am</td> 
  <td> </td> 
  <td>10am</td> 
  <td> </td> 
  <td>11am</td> 
  <td> </td> 
  <td colspan="2">12pm</td> 
  <td> </td> 
  <td colspan="3">1pm</td> 
  <td> </td> 
  <td>2pm</td> 
  <td> </td> 
  <td>3pm</td> 
  <td> </td> 
  <td>4pm</td> 
  <td> </td> 
  <td>5pm</td> 
  <td> </td> 
  <td>6pm</td> 
  <td> </td></tr> 
<tr valign="top"><td>Monday 
  </td> 
  <td> </td> 
  <td colspan="7">9.30am 
  - 12.30pm 
  <p align="center">First Steps 2 Fitness 
  x 2 sessions</p></td> 
  <td> </td> 
  <td colspan="6">One 
  o'clock Club 
  </td> 
  <td> </td> 
  <td> </td> 
  <td colspan="6">4.00pm 
  - 7.00pm 
  <br>First Steps 2 Fitness 
  x 2 sessions</td></tr> 
<tr valign="top"><td>Tuesday 
  </td> 
  <td colspan="4">Nutrician 
  Course</td> 
  <td colspan="5">Nutrician 
  Course</td> 
  <td colspan="2"> </td> 
  <td colspan="2"> </td> 
  <td colspan="3">Stop 
  Smoking Clinic</td> 
  <td colspan="3">Circuit 
  Training </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td></tr> 
<tr valign="top"><td>Wednesday 
  </td> 
  <td colspan="4">Health 
  &amp; Weight Management</td> 
  <td colspan="5">Health 
  &amp; Weight Management</td> 
  <td colspan="2"> </td> 
  <td colspan="10">1.00-3.00 
  Getting IT Together, IT Suite  
  <br>1.30pm - 6.00pm First 
  Steps 2 Fitness x 3 sessions</td> 
  <td> </td> 
  <td> </td></tr> 
<tr valign="top"><td>Thursday 
  </td> 
  <td colspan="4">Adult 
  &amp; Family Learning 
  <p align="center">Number Sacks</p></td> 
  <td colspan="5">Adult 
  &amp; Family Learning - Number Sacks</td> 
  <td colspan="6">Sure 
  Start Parent &amp; Toddler Group</td> 
  <td> </td> 
  <td colspan="3">Circuit 
  Training</td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td></tr> 
<tr valign="top"><td>Friday 
  </td> 
  <td> </td> 
  <td colspan="6">9.30am 
  - 12.30pm First Steps 2 Fitness 
  x 2 sessions</td> 
  <td colspan="3"> </td> 
  <td colspan="3"> </td> 
  <td colspan="2">Golden 
  Hour</td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td></tr> 
<tr valign="top"><td>Saturday 
  </td> 
  <td> </td> 
  <td colspan="12">9.30am 
  - 2.00pm First Steps 2 Fitness 
  x 3 sessions</td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td> 
  <td> </td></tr> 
</table> 

        <p style="text-align:center;"><a href="parents/courses.pdf">Download sign up letter and form.</a></p>
        <div style="text-align:center;"><img src="img/gateways.jpg" /></div>
        
        <h3>Sure Start Parent &amp; Toddler Group</h3>
        <p>At: Toll Bar Primary School</p>
        <p>In: Community Room</p>
        <p>Time: 1.00 - 3.00pm</p>
        <p>Every Thursday</p>
        <p>Refreshments available</p>  
        <p><a href="parents/surestart.pdf">Download form.</a></p>
        
        <h3>Adult Courses</h3>
        
        <h4>Get IT Together</h4>
        <p>A computer course open to all adults</p>
        <p>Every Wednesday during term time (restarting 23rd September)</p>
        <p>1.00 pm - 3.00 pm.</p>
        <p>Friendly helpful tutor</p>
        <p>No computer experience necessary! Everyone is welcome.</p>
        <p><a href="parents/ITSkills.pdf">Download form.</a></p>

	<h3>Number Sacks</h3>
	<img src="parents/numbersacks.jpg" style="float:right;">
	<p><strong>Come and make a number sack - a game to play with your child.</strong></p>
	<p>Starting in February 2010<br>
	5 sessions<br>
	9.00 am to 11.30 am<br>
	Free of charge</p>
	<p><em>At Toll Bar Primary School Community Room</em></p>
	<p>Suitable for any parents / carers to work with children of all ages.</p>
	<p>Please let the office know if you are interested to reserve your place.</p>
	<h3>New Years Resolutions</h3>
	<p>Are you wanting to:</p>
	<ul>
		<li>Lose Weight</li>
		<li>Stop Smoking</li>
		<li>Look good and feel great</li>
	</ul>
	<p>Then the Community Room at Toll Bar Primary School on a Wednesday morning is the place to be from 8.45 am onwards</p>
	<p><strong>Professional Personal Trainers</strong> - All sessions are free of charge for all adults.</p>
	<h3>Nutrition Course</h3>
	<p>A 6 week course runs by Doncaster PCT to demonstrate and give you ideas on how to make nutritious meals.</p>
	<p>Every Tuesday 9am-11.30am, starting on Tuesday 20th April 2010 at Toll Bar Primary School in the Community Room</p>
	<p>Come along and have fun. Taste all the different foods. Sessions are FREE and refreshments available at 10p.</p>
	<p>Please book your  place at the school office or ring 01302 874324</p>
	<h3>Circuit Training &amp; Health Walk</h3>
	<p>On Tuesdays at 4.45 pm (Circuit Training until 6th April and from 13th April change to Health Walk) and Thursdays at 4.00 pm (Circuit Training) at Toll Bar Primary School</p>
	<p>Free of charge, Short organised sessions for beginners, 45 mins, Perfect for those who would like to become more active.</p>
	<p>Please wear appropriate clothing and footwear. For more information contact Chris Wroot Tel: -07789 067146 <a href="http://www.doncaster.gov.uk/">www.doncaster.gov.uk</a></p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
