LOCATION=parents/courses.html
PARENT=ROOT
PAGENAME="Extended Schools"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <div style="text-align:center;"><img src="ourschool/extended.jpg" /></div>
        <p>We are pleased to inform you that Mrs Bleything and Mrs Brooks can help you find the education you are seeking.</p>
        <p>Just pop into school and enquire about a course you are interested in and we will try and find you a course that is right for you.</p>
        <p>Both Mrs Bleything and Mrs Brooks can source all kinds of courses from computing to cooking, from flower arranging to gardening.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
