LOCATION=parents/courses.html
PARENT=ROOT
PAGENAME="Something for Everyone"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <div style="text-align:center;"><img src="ourschool/extended.jpg" /></div>
        <h3>Something for Everyone</h3>
        <p><strong>Free</strong> sessions at Toll Bar Primary School</p>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td>Monday</td>
                <td>1 O'Clock Club<br>Have a coffee and a chat and find out about the village history</td>
                <td>1-3pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Incredible Years<br>For all parents and carers with children</td>
                <td>9-11am</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Ready Steady Cook<br>Cooking sessions for adults and carers with children</td>
                <td>1-3pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Zumba<br>Coming soon (small charge)</td>
                <td>2-3pm</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Coffee and Crafts<br>Have a coffee and a chat and meet other people</td>
                <td>9-10.15am</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>WEA-I.C.T.<br>Adult Class</td>
                <td>1-3pm</td>
            </tr>
                <td>Thursday</td>
                <td>Surestart Parent and Toddlers<br>Play sessions</td>
                <td>1.30-3pm</td>
            </tr>
                <td>Friday</td>
                <td>Volunteer Gardeners<br>Any help would be appreciated</td>
                <td>1-3pm</td>
            </tr>
        </table>
        <p>What would you like to see happening in school in
        the future E.g. courses, events etc for adults and /or
        families. Any ideas or suggestions to Lynn Wood,
        our PSA next time you see her or leave her a note
        in the ideas box in the Community Room.</p>
        
        <p>It is important to us that we can offer you to things
        you would enjoy doing in our school, or direct you
        to other local facilities.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
