LOCATION=trips/index.html
PARENT=ROOT
PAGENAME="School Trips"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <h3>Trips This Year</h3>
<table width="569" border="2" cellspacing="0"> 
<tr valign="top"><th>Date</b></th> 
  <th>Visit</th> 
  <th>Class</th> 
  <th>Curriculum</th> 
  <th>Group leader</th></tr> 
<tr valign="top"><td>16/09/09</td> 
  <td>Walk on pit tip</td> 
  <td>Maple</td> 
  <td>Topic</td> 
  <td>Mrs Davies</td></tr> 
<tr valign="top"><td>22/09/09</td> 
  <td>South Yorkshire Transp Museum</td> 
  <td>Willow</td> 
  <td>History</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>21/09/09</td> 
  <td>Tropical World &amp;Wildlife 
  Centre</td> 
  <td>Sycamore</td> 
  <td>Topic</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>29/09/09</td> 
  <td>Brodsworth Hall</td> 
  <td>Chestnut</td> 
  <td>Topic</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>02/10/09</td> 
  <td>Shakespeare 4 kidz</td> 
  <td>Chestnut</td> 
  <td>History</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>13/10/09</td> 
  <td>Sikh Temple </td> 
  <td>KS1 KS2</td> 
  <td>Indian Week</td> 
  <td>Mrs Davies</td></tr> 
<tr valign="top"><td>22/10/09</td> 
  <td>Keepmoat Stadium</td> 
  <td>Chestnut</td> 
  <td>Anti racism</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>02/11/09</td> 
  <td>Keepmoat Stadium</td> 
  <td>Yr 6 (6wks)</td> 
  <td>Study Support</td> 
  <td>Centre escort</td></tr> 
<tr valign="top"><td>03/11/09</td> 
  <td>Jorvik Centre /Dig</td> 
  <td>Oak</td> 
  <td>Topic</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>12/11/09</td> 
  <td>High Melton Forest School</td> 
  <td>Maple</td> 
  <td>Topic</td> 
  <td>Mrs Davies</td></tr> 
<tr valign="top"><td>25/11/09</td> 
  <td>Sheffield Arena</td> 
  <td>All </td> 
  <td>Music</td> 
  <td>Mrs Northwood</td></tr> 
<tr valign="top"><td>27/11/09</td> 
  <td>Doncaster Minister</td> 
  <td>Yr 3,4,5,6</td> 
  <td>PSHE</td> 
  <td>Mrs Northwood</td></tr> 
<tr valign="top"><td>01/12/09</td> 
  <td>Don Valley  C.L.C  
  </td> 
  <td>Willow</td> 
  <td> I.C.T.</td> 
  <td>Miss Wood</td></tr> 
<tr valign="top"><td>10/12/09</td> 
  <td>Cusworth Hall</td> 
  <td>Chestnut</td> 
  <td>Topic</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>11/12/09</td> 
  <td>Frenchgate Centre</td> 
  <td>KS2 children</td> 
  <td>Fund raising</td> 
  <td>Mrs Northwood</td></tr> 
<tr valign="top"><td>15/12/09</td> 
  <td>Sheffield Lyceum</td> 
  <td>All  school</td> 
  <td>PSHE</td> 
  <td>Mrs Northwood</td></tr> 
<tr valign="top"><td>16/12/09</td> 
  <td>Walk to church</td> 
  <td>All School</td> 
  <td>R.E</td> 
  <td>Mrs Northwood</td></tr> 
<tr valign="top"><td>20/1/10</td> 
  <td>Adwick Leisure Centre</td> 
  <td>KS2 </td> 
  <td>Athletics </td> 
  <td>Mrs Howey</td></tr> 
<tr valign="top"><td>29/1/10</td> 
  <td>Adwick Leisure Centre</td> 
  <td>KS2</td> 
  <td>Athletics</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td> 3/2/10</td> 
  <td>Eden Camp War Museum</td> 
  <td>Chestnut</td> 
  <td>Topic</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td> 9/2/10</td> 
  <td>C.L.C Centre</td> 
  <td>Willow</td> 
  <td>I.C.T</td> 
  <td>Miss Wood</td></tr> 
<tr valign="top"><td>22/02/10</td> 
  <td>Weston Park Museum</td> 
  <td>Willow</td> 
  <td>Topic</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>23/2/10</td> 
  <td>Don Valley School</td> 
  <td>Sycamore</td> 
  <td>Topic</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>25/02/10</td> 
  <td>Don Valley School Books</td> 
  <td>Year 6</td> 
  <td>Book Awards</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>1-3/3/10</td> 
  <td>Castleton Residential  
  </td> 
  <td>KS2</td> 
  <td>PSHE</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>15/03/10</td> 
  <td>Don Valley Book Awards</td> 
  <td>Yr5 &amp; Yr6</td> 
  <td>Book Awards</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>17/03/10</td> 
  <td>Pit top</td> 
  <td>F2</td> 
  <td>PHSE</td> 
  <td>Mrs Davies</td></tr> 
<tr valign="top"><td>26/3/10</td> 
  <td>Doncaster Race Course</td> 
  <td>Yr6</td> 
  <td>Book Awards</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>20/04/10</td> 
  <td>Magna Crucial Crew</td> 
  <td>Yr6</td> 
  <td>PSHE</td> 
  <td>Mrs Melling</td></tr> 
<tr valign="top"><td>04/05/10</td> 
  <td>CLC Centre ICT</td> 
  <td>Willow</td> 
  <td>ICT</td> 
  <td>Miss Wood</td></tr> 
<tr valign="top"><td>06/05/10</td> 
  <td>Yorkshire Sculpture park</td> 
  <td>Sycamore &amp; Oak</td> 
  <td>Art, D &amp; T</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>21/05/10</td> 
  <td>Tag Rugby – Toll Bar</td> 
  <td>KS1 &amp; KS2</td> 
  <td>Rugby</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>27/5/10</td> 
  <td>Cricket Tournament</td> 
  <td>KS1</td> 
  <td>Cricket</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>8/6/10</td> 
  <td>Yorkshire Sculpture Park</td> 
  <td>Willow</td> 
  <td>D &amp; T, Art</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>9/6/10</td> 
  <td>Pit top</td> 
  <td>F2</td> 
  <td>Literacy</td> 
  <td>Mrs Davies</td></tr> 
<tr valign="top"><td>10/6/10</td> 
  <td>Potteric Carr</td> 
  <td>Sycamore</td> 
  <td>Literacy</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>11/6/10</td> 
  <td>Cricket Tournament</td> 
  <td>KS2</td> 
  <td>Cricket</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>12-14/6/10</td> 
  <td>Austerfield Camping</td> 
  <td>All school</td> 
  <td>PSHE</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>16/6/10</td> 
  <td>Kelham Island, Sheffield</td> 
  <td>Y4/5 </td> 
  <td>D &amp; T</td> 
  <td>Miss Whaley</td></tr> 
<tr valign="top"><td>18/6/10</td> 
  <td>Cricket Festival</td> 
  <td>Y3/4</td> 
  <td>Cricket</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>23/06/10</td> 
  <td>Yorkshire Wildlife Park</td> 
  <td>Foundation</td> 
  <td>PHSE</td> 
  <td>Mrs Davies</td></tr> 
<tr valign="top"><td>24/06/10</td> 
  <td>Multi Skills - BNV</td> 
  <td>Yr1 &amp; Yr2</td> 
  <td>Sport</td> 
  <td>Miss Shelton</td></tr> 
<tr valign="top"><td>28-2/7/10</td> 
  <td>Hatfield Waterpark</td> 
  <td> KS2</td> 
  <td>PSHE</td> 
  <td>Mrs Clarke</td></tr> 
<tr valign="top"><td>07/07/10</td> 
  <td>Don Valley School</td> 
  <td>Yr5</td> 
  <td>Drama</td> 
  <td>Miss Wood</td></tr> 
<tr valign="top"><td>15/7/10</td> 
  <td>Swimming Gala</td> 
  <td>Y5, 6</td> 
  <td>Swimming</td> 
  <td>Miss Shelton</td></tr> 
</table> 
		<h3>Austerfield Community Camp</h3>
		<img src="trips/austerfield/austerfield.jpg" />
        <div style="text-align:center;"><img src="trips/austerfield/1.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/2.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/3.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/4.jpg" /></div>
		<h3>Hatfield Water Park</h3>
		<img src="trips/hatfield/hatfield.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP