LOCATION=trips/index.html
PARENT=ROOT
PAGENAME="School Trips"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<table border="1" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><p align="center"><strong>Date</strong></p></th>
      <th><p align="center"><strong>Class</strong></p></th>
      <th><p align="center"><strong>Visit</strong></p></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19th September 2011</td>
      <td>Chestnut</td>
      <td>Mining Museum</td>
    </tr>
    <tr>
      <td>20th September 2011</td>
      <td>Oak &amp; Ceder</td>
      <td>Ewden &amp; Magna</td>
    </tr>
    <tr>
      <td>3rd October 2011</td>
      <td>Foundation 2</td>
      <td>Pit Top Walk</td>
    </tr>
    <tr>
      <td>13th October 2011</td>
      <td>Willow</td>
      <td>Cadbury World</td>
    </tr>
    <tr>
      <td>20th October 2011</td>
      <td>Sycamore</td>
      <td>Sherwood Forest</td>
    </tr>
    <tr>
      <td>3rd November 2011</td>
      <td>Foundation 1 &amp; 2</td>
      <td>Forest School</td>
    </tr>
    <tr>
      <td>5th December 2011</td>
      <td>Choir</td>
      <td>Young Voices</td>
    </tr>
    <tr>
      <td>13th December 2011</td>
      <td>All</td>
      <td>Sheffield Lyceum</td>
    </tr>
    <tr>
      <td>14th-16th March 2012</td>
      <td>Years 4-5</td>
      <td>Castleton</td>
    </tr>
    <tr>
      <td>16-18th June 2012</td>
      <td>Year 2+</td>
      <td>Austerfield</td>
    </tr>
    <tr>
      <td>9th-13th July 2012 <em>(provisional)</em></td>
      <td>Years 5-6</td>
      <td>Hatfield</td>
    </tr>
  </tbody>
</table>
		<h3>Austerfield Community Camp</h3>
		<img src="trips/austerfield/austerfield.jpg" />
        <div style="text-align:center;"><img src="trips/austerfield/1.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/2.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/3.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/4.jpg" /></div>
		<h3>Hatfield Water Park</h3>
		<img src="trips/hatfield/hatfield.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
