LOCATION=trips/index.html
PARENT=ROOT
PAGENAME="School Trips"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><p align="center"><strong>Date</strong></p></td>
    <td width="158" valign="top"><p align="center"><strong>Visit</strong></p></td>
    <td width="87" valign="top"><p align="center"><strong>Class</strong></p></td>
    <td valign="top"><p align="center"><strong>Curriculum</strong></p></td>
    <td valign="top"><p align="center"><strong>Group leader</strong></p></td>
  </tr>
  <tr>
    <td valign="top"><p>21.09.10</p></td>
    <td width="158" valign="top"><p>The Deep</p></td>
    <td width="87" valign="top"><p>Willow</p></td>
    <td valign="top"><p>Science</p></td>
    <td valign="top"><p>Miss Wood</p></td>
  </tr>
  <tr>
    <td valign="top"><p>28.09.10</p></td>
    <td width="158" valign="top"><p>Wildlife     Park</p></td>
    <td width="87" valign="top"><p>Oak</p></td>
    <td valign="top"><p>Topic</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>30.09.10</p></td>
    <td width="158" valign="top"><p>Sundown Adventure</p></td>
    <td width="87" valign="top"><p>Sycamore</p></td>
    <td valign="top"><p>Topic</p></td>
    <td valign="top"><p>Miss Shelton</p></td>
  </tr>
  <tr>
    <td valign="top"><p>04.10.10</p></td>
    <td width="158" valign="top"><p>Brodsworth Hall</p></td>
    <td width="87" valign="top"><p>Chestnut</p></td>
    <td valign="top"><p>History</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>08.10.10</p></td>
    <td width="158" valign="top"><p>Civic Theatre</p></td>
    <td width="87" valign="top"><p>Chestnut</p></td>
    <td valign="top"><p>Literacy</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>15.10.10</p></td>
    <td width="158" valign="top"><p>Woodland Walk</p></td>
    <td width="87" valign="top"><p>Oak</p></td>
    <td valign="top"><p>Science</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>19.10.10</p></td>
    <td width="158" valign="top"><p>Woodland Walk</p></td>
    <td width="87" valign="top"><p>Sycamore</p></td>
    <td valign="top"><p>Science</p></td>
    <td valign="top"><p>Miss Shelton</p></td>
  </tr>
  <tr>
    <td valign="top"><p>02.11.10</p></td>
    <td width="158" valign="top"><p>Playing for Success<br />
      (6 weeks)</p></td>
    <td width="87" valign="top"><p>Yr 6 &amp; Yr 2</p></td>
    <td valign="top"><p>Support</p></td>
    <td valign="top"><p>Miss Shelton</p></td>
  </tr>
  <tr>
    <td valign="top"><p>16.11.10 </p></td>
    <td width="158" valign="top"><p>Don Valley Library</p></td>
    <td width="87" valign="top"><p>Chestnut</p></td>
    <td valign="top"><p>Literacy</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>22.11.10</p></td>
    <td width="158" valign="top"><p>Fit &amp; Fun walk</p></td>
    <td width="87" valign="top"><p>Oak</p></td>
    <td valign="top"><p>P.E / PSHE</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>24.11.10</p></td>
    <td width="158" valign="top"><p>Austerfield Study</p></td>
    <td width="87" valign="top"><p>Foundation</p></td>
    <td valign="top"><p>Topic</p></td>
    <td valign="top"><p>Mrs Davies</p></td>
  </tr>
  <tr>
    <td valign="top"><p>25.11.10</p></td>
    <td width="158" valign="top"><p>The Dome</p></td>
    <td width="87" valign="top"><p>Chestnut</p></td>
    <td valign="top"><p>History</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>02.12.10</p></td>
    <td width="158" valign="top"><p>Young Voices</p></td>
    <td width="87" valign="top"><p>Yrs 5&amp;6</p></td>
    <td valign="top"><p>Music / PSHE</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>10.12.10</p></td>
    <td width="158" valign="top"><p>Frenchgate Centre</p></td>
    <td width="87" valign="top"><p>KS2 children</p></td>
    <td valign="top"><p>Fund Raising</p></td>
    <td valign="top"><p>Mrs Northwood</p></td>
  </tr>
  <tr>
    <td valign="top"><p>14.12.10</p></td>
    <td width="158" valign="top"><p>Sheffield Lyceum</p></td>
    <td width="87" valign="top"><p>All School</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>15.12.10</p></td>
    <td width="158" valign="top"><p>Walk to Church</p></td>
    <td width="87" valign="top"><p>All School</p></td>
    <td valign="top"><p>R.E</p></td>
    <td valign="top"><p>Mrs Northwood</p></td>
  </tr>
  <tr>
    <td valign="top"><p>25.01.11</p></td>
    <td width="158" valign="top"><p>TOYS R US</p></td>
    <td width="87" valign="top"><p>Foundation</p></td>
    <td valign="top"><p>Topic</p></td>
    <td valign="top"><p>Mrs Davies</p></td>
  </tr>
  <tr>
    <td valign="top"><p>26.01.11</p></td>
    <td width="158" valign="top"><p>Young Voices</p></td>
    <td width="87" valign="top"><p>Yrs 5 &amp; 6</p></td>
    <td valign="top"><p>Music /PSHE</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>27.01.11</p></td>
    <td width="158" valign="top"><p>Anti Racism Event</p></td>
    <td width="87" valign="top"><p>Yrs 5 &amp; 6</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>28.01.11</p></td>
    <td width="158" valign="top"><p>Athletics</p></td>
    <td width="87" valign="top"><p>KS2</p></td>
    <td valign="top"><p>P.E</p></td>
    <td valign="top"><p>Miss Shelton</p></td>
  </tr>
  <tr>
    <td valign="top"><p>02.03.11</p></td>
    <td width="158" valign="top"><p>Doncaster     Museum</p></td>
    <td width="87" valign="top"><p>KS2</p></td>
    <td valign="top"><p>Topic</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>11.02.11</p></td>
    <td width="158" valign="top"><p>Sunnyfields     School</p></td>
    <td width="87" valign="top"><p>KS2</p></td>
    <td valign="top"><p>P.E</p></td>
    <td valign="top"><p>Miss Shelton</p></td>
  </tr>
  <tr>
    <td valign="top"><p>04.03-08.04</p></td>
    <td width="158" valign="top"><p>Forest Experience</p></td>
    <td width="87" valign="top"><p>KS2</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top"><p>March 2011</p></td>
    <td width="158" valign="top"><p>Crucial Crew</p></td>
    <td width="87" valign="top"><p>YR 6</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Mrs Melling</p></td>
  </tr>
  <tr>
    <td valign="top"><p>June 2011</p></td>
    <td width="158" valign="top"><p>Kelham     Island</p></td>
    <td width="87" valign="top"><p>Yr 5 / 6</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Miss Whaley</p></td>
  </tr>
  <tr>
    <td valign="top"><p>July 2011</p></td>
    <td width="158" valign="top"><p>Don     Valley </p></td>
    <td width="87" valign="top"><p>Yr 5</p></td>
    <td valign="top"><p>Drama</p></td>
    <td valign="top"><p>Miss Wood</p></td>
  </tr>
  <tr>
    <td valign="top"><p>9-11th March</p></td>
    <td width="158" valign="top"><p>Castleton Residential</p></td>
    <td width="87" valign="top"><p>Willow</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>11-14th June</p></td>
    <td width="158" valign="top"><p>Austerfield Camping</p></td>
    <td width="87" valign="top"><p>Oak</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
  <tr>
    <td valign="top"><p>27-1st July</p></td>
    <td width="158" valign="top"><p>Hatfield Residential</p></td>
    <td width="87" valign="top"><p>Chestnut</p></td>
    <td valign="top"><p>PSHE</p></td>
    <td valign="top"><p>Mrs Clarke</p></td>
  </tr>
</table>
<ul>
            <li>The Deep - <a href="trips/thedeep.pdf">download letter</a></li>
        </ul>
		<h3>Austerfield Community Camp</h3>
		<img src="trips/austerfield/austerfield.jpg" />
        <div style="text-align:center;"><img src="trips/austerfield/1.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/2.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/3.jpg" /></div>
        <div style="text-align:center;"><img src="trips/austerfield/4.jpg" /></div>
		<h3>Hatfield Water Park</h3>
		<img src="trips/hatfield/hatfield.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP