LOCATION=friends.html
PARENT=ROOT
PAGENAME="Friends of Toll Bar"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <p>We are always looking for new members, ideas for fundraising etc. If you are interested in joining or
        finding out more information please see the office staff.</p>

        <p>Over the past 12 months we have purchased Kindles for the children to use during wet playtimes,
        celebration mugs for the Royal Wedding and we are looking to buy some more playground
        equipment so that all the children benefit from your fundraising efforts.</p>

        <p>Thank you for your support</p>
        <img src="img/friends-baking.jpg" alt="" />

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP