LOCATION=archive/index.html
PARENT=ROOT
PAGENAME="Archives"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <h3>Newsletters</h3>
		<ul>
		    <li><a href="newsletters/201006.pdf">June 2010</a></li>
		    <li><a href="newsletters/201005.pdf">May 2010</a></li>
		    <li><a href="newsletters/201003.pdf">March 2010</a></li>
		    <li><a href="newsletters/201001.pdf">January 2010</a></li>
		    <li><a href="newsletters/200912.pdf">December 2009 - Christmas Activities</a></li>
		    <li><a href="newsletters/200911.pdf">November 2009</a></li>
		    <li><a href="newsletters/200909.pdf">September 2009</a></li>
		    <li><a href="newsletters/200905.pdf">May 2009</a></li>
		    <li><a href="newsletters/200903.pdf">March 2009</a></li>
		    <li><a href="newsletters/200901.pdf">January 2009</a></li>
		    <li><a href="newsletters/200811.pdf">November 2008</a></li>
		    <li><a href="newsletters/200809.pdf">September 2008</a></li>
		</ul>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP