LOCATION=parents/downloads.html
PARENT=parents/index.html
PAGENAME="Downloads"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <h3>Leave of Absence/Holiday form</h3>
        <p><a href="parents/holidayform20082009.pdf">Download form.</a></p>
        <h4>Holiday Dates</h4>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<p><strong>Closing and Opening Dates  for Toll Bar Primary School 2008/09</strong></p>
<table border="0" cellpadding="0" width="95%">
  <tr>
    <td width="24%"><br />
        <strong>Holiday</strong> </td>
    <td width="24%"><p align="center"><strong>Schools Close (PM)</strong> </p></td>
    <td width="24%"><p align="center"><strong>Re-open (AM)</strong> </p></td>
    <td width="24%"><p align="center"><strong>Training Days*</strong> </p></td>
  </tr>
  <tr>
    <td width="99%" colspan="4"><div align="center">
      <hr size="2" width="100%" align="center" />
    </div>
        <p> </p></td>
  </tr>
  <tr>
    <td width="24%"><p>Start of School Year </p></td>
    <td width="24%"><p>&nbsp;</p></td>
    <td width="24%"><p>Tues&nbsp;2 September&nbsp;</p></td>
    <td width="24%"><p>Mon&nbsp;1 September&nbsp;</p></td>
  </tr>
  <tr>
    <td width="24%"><p>Autumn Half Term&nbsp;</p></td>
    <td width="24%"><p>Thurs 23 October&nbsp;</p></td>
    <td width="24%"><p>Mon&nbsp;3 November&nbsp;</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="24%"><p>Christmas&nbsp;</p></td>
    <td width="24%"><p>Fri&nbsp;19 December&nbsp;</p></td>
    <td width="24%"><p>Mon&nbsp;5 January&nbsp;</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="24%"><p>Spring Half Term&nbsp;</p></td>
    <td width="24%"><p>Thurs 12 February&nbsp;</p></td>
    <td width="24%"><p>Mon&nbsp;23 February&nbsp;</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="24%"><p>Easter&nbsp;</p></td>
    <td width="24%"><p>Fri&nbsp;3&nbsp;April&nbsp;</p></td>
    <td width="24%"><p>Mon&nbsp;20 April&nbsp;</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="24%"><p>May Day&nbsp;</p></td>
    <td width="24%"><p>Fri&nbsp;1&nbsp;May&nbsp;</p></td>
    <td width="24%"><p>Tues&nbsp;5 May&nbsp;</p></td>
    <td width="24%"><p align="center">&nbsp;</p></td>
  </tr>
  <tr>
    <td width="24%"><p>Summer Half Term&nbsp;</p></td>
    <td width="24%"><p>Fri&nbsp;22 May&nbsp;</p></td>
    <td width="24%"><p>Mon&nbsp;1 June&nbsp;</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="127" valign="top"><p>Training Day</p></td>
    <td width="132" valign="top"><p>&nbsp;Thurs 18th June</p></td>
    <td width="276" valign="top"><p>&nbsp;Monday 22nd June</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="127" valign="top"><p>Summer</p></td>
    <td width="132" valign="top"><p>&nbsp;Fri 17th July</p></td>
    <td width="276" valign="top"><p>&nbsp;</p></td>
    <td width="24%"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p><strong>Closing and Opening Dates  for Doncaster Schools 2009/10</strong></p>
<table border="0" cellpadding="0" width="95%">
  <tr>
    <td><br />
        <strong>Holiday</strong> </td>
    <td width="25%"><p align="center"><strong>Schools Close (PM)</strong> </p></td>
    <td width="25%"><p align="center"><strong>Re-open (AM)</strong> </p></td>
    <td width="25%"><p align="center"><strong>Training Days*</strong> </p></td>
  </tr>
  <tr>
    <td colspan="4"><div align="center">
      <hr size="2" width="100%" align="center" />
    </div>
        <p> </p></td>
  </tr>
  <tr>
    <td width="164"><p>Start of School Year </p></td>
    <td width="25%"><p>&nbsp;</p></td>
    <td width="25%"><p>Thu&nbsp;3 September&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Autumn Half Term&nbsp;</p></td>
    <td width="25%"><p>Fri 23 October&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;2 November&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Christmas&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;18 December&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;4 January&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Spring Half Term&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;12 February&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;22 February&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Easter&nbsp;</p></td>
    <td width="25%"><p>Thu&nbsp;1&nbsp;April&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;19 April&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>May Day&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;30&nbsp;April&nbsp;</p></td>
    <td width="25%"><p>Tue&nbsp;4 May&nbsp;</p></td>
    <td width="25%"><p align="center">&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Summer Half Term&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;28 May&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;7 June&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Summer&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;23 July&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
</table>
<p><strong>Training  Days&nbsp;-&nbsp;5 Training Days are to be arranged</strong><br />
    <strong>(1 September to 31  August)</strong> </p>
<p>&nbsp;</p>
<p><strong>Closing and Opening Dates  for Doncaster Schools 2010/11</strong></p>
<table border="0" cellpadding="0" width="95%">
  <tr>
    <td><br />
        <strong>Holiday</strong> </td>
    <td width="25%"><p align="center"><strong>Schools Close (PM)</strong> </p></td>
    <td width="25%"><p align="center"><strong>Re-open (AM)</strong> </p></td>
    <td width="25%"><p align="center"><strong>Training Days*</strong> </p></td>
  </tr>
  <tr>
    <td colspan="4"><div align="center">
      <hr size="2" width="100%" align="center" />
    </div>
        <p> </p></td>
  </tr>
  <tr>
    <td width="164"><p>Start of School Year </p></td>
    <td width="25%"><p>&nbsp;</p></td>
    <td width="25%"><p>Wed&nbsp;1 September&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Autumn Half Term&nbsp;</p></td>
    <td width="25%"><p>Fri 22 October&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;1 November&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Christmas&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;17 December&nbsp;</p></td>
    <td width="25%"><p>Tue&nbsp;4 January&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Spring Half Term&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;18 February&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;28 February&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Easter&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;8&nbsp;April&nbsp;</p></td>
    <td width="25%"><p>Tue&nbsp;26 April&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>May Day&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;29&nbsp;April&nbsp;</p></td>
    <td width="25%"><p>Tue&nbsp;3 May&nbsp;</p></td>
    <td width="25%"><p align="center">&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Summer Half Term&nbsp;</p></td>
    <td width="25%"><p>Fri&nbsp;27 May&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;6 June&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="164"><p>Summer&nbsp;</p></td>
    <td width="25%"><p>Mon&nbsp;22 July&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
    <td width="25%"><p>&nbsp;</p></td>
  </tr>
</table>
<p><strong>* Training  Days&nbsp;-&nbsp;5 Training Days are to be arranged</strong><strong><br />
      <br />
</strong><strong>(1 September to 31 August)</strong> </p>
</body>
</html>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP