LOCATION=parents/fpn.html
PARENT=parents/index.html
PAGENAME="Fair Processing Notice"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p>This notice gives additional information to the notice sent to you on 8th September 2008 and provides further information about the processing of pupils' personal data by the other organisations mentioned in that notice.</p>
		<p>Toll Bar Primary School processes personal data about its pupils and is a "data controller" in respect of this for the purposes of the Data Protection Act 1998.  It processes this data to:</p>
		<ul>
            <li>support its pupils' teaching and learning;</li>
            <li>monitor and report on their progress;</li>
            <li>provide appropriate pastoral care, and</li>
            <li>assess how well the school as a whole is doing</li>
        </ul>
        <p>This information includes contact details, national curriculum assessment results, attendance information, characteristics such as ethnic group, special educational needs and any relevant medical information.</p>
        <p>From time to time the school is required to pass on some of this data to local authorities, the Department for Children, Schools and Families (DCSF), (which also has responsibility for ContactPoint    -  see below) and to agencies that are prescribed by law, such as the Qualifications and Curriculum Authority (QCA), Ofsted, the Learning and Skills Council (LSC), the Department of Health (DH), Primary Care Trusts (PCT). All these are data controllers for the information they receive.  The data must only be used for specific purposes allowed by law.</p>
        <p>The Children Act 2004 Information Database (England) Regulations 2007 requires maintained schools to supply basic contact information to ContactPoint<sup>1</sup></p>
        <p>The Local Authority (LA) uses information about children for whom it provides services to carry out specific functions for which it is responsible, such as the assessment of any special educational needs the child may have.  It also uses the information to derive statistics to inform decisions on (for example) the funding of schools, and to assess the performance of schools and set targets for them.  The statistics are used in such a way that individual children cannot be identified from them.  The LA is also required to maintain the accuracy of the information held on ContactPoint about children and young people in their area. The Data Protection Officer at DMBC is Maureen Meakin, Copley Road, Doncaster.</p>
        <p>The Qualifications and Curriculum Authority (QCA) uses information about pupils to administer the national curriculum assessments portfolio throughout Key Stages 1 to 3.  This includes both assessments required by statute and those that are optional.  The results of these are passed on to DCSF to compile statistics on trends and patterns in levels of achievement.  The QCA uses the information to evaluate the effectiveness of the national curriculum and the associated assessment arrangements, and to ensure that these are continually improved.<br /><a href="http://www.qca.org.uk/">www.qca.org.uk</a> Data Protection Officer, QCA, 83 Piccadilly, LONDON, W1J 8QA;</p>
        <p>Ofsted uses information about the progress and performance of pupils to help inspectors evaluate the work of schools, to assist schools in their self-evaluation, and as part of Ofsted's assessment of the effectiveness of education initiatives and policy.  Ofsted also uses information about the views of children and young people, to inform children's services inspections in local authority areas.  Inspection reports do not identify individual pupils.<br /><a href="http://www.ofsted.gov.uk/">www.ofsted.gov.uk</a> Data Protection Officer,  Alexandra House, 33 Kingsway, London WC2B 6SE;</p>
        <p>The Learning and Skills Council (LSC) uses information about pupils for statistical purposes, to evaluate and develop education policy and monitor the performance of the education service as a whole .  The statistics (including those based on information provided by the QCA) are used in such a way that individual pupils cannot be identified from them.  On occasion information may be shared with other Government departments or agencies strictly for statistical or research purposes only.  The LSC or its partners may wish to contact learners from time to time about courses, or learning opportunities relevant to them.<br /><a href="http://www.lsc.gov.uk/">www.lsc.gov.uk</a> Data Protection Officer, Cheylesmore House, Quinton Road, Coventry, Warwickshire CV1 2WT</p>
        <p>Details of how an individual may opt-out of sharing achievement data in their learner record with those organisations detailed at <a href="http://www.miap.gov.uk">www.miap.gov.uk</a>, can also be found at <a href="http://www.miap.gov.uk">www.miap.gov.uk</a><br /><a href="http://www.miap.gov.uk">www.miap.gov.uk</a> Data Protection Officer ,Cheylesmore House, Quinton Road, Coventry, Warwickshire CV1 2WT</p>
        <p>Primary Care Trusts (PCT) use information about pupils for research and statistical purposes, to monitor the performance of local health services and to evaluate and develop them.  The statistics are used in such a way that individual pupils cannot be identified from them.  Information on the height and weight of individual pupils may however be provided to the child and its parents and this will require the PCTs to maintain details of pupils' names for this purpose for a period designated by the Department of Health following the weighing and measuring process.  PCTs may also provide individual schools and LAs with aggregate information on pupils' height and weight.<br /><a href="http://www.nhs.uk/England/AuthoritiesTrusts/Pct/Default.aspx">http://www.nhs.uk/England/AuthoritiesTrusts/Pct/Default.aspx</a></p>
        <p>The Department of Health (DH) uses aggregate information (at school year group level) about pupils' height and weight for research and statistical purposes, to inform, influence and improve health policy and to monitor the performance of the health service as a whole.  The DH will base performance management discussions with Strategic Health Authorities on aggregate information about pupils attending schools in the PCT areas to help focus local resources and deliver the Public Service Agreement target to halt the year on year rise in obesity among children under 11 by 2010, in the context of a broader strategy to tackle obesity in the population as a whole.  The Department of Health will also provide aggregate PCT level data to the Healthcare Commission for performance assessment of the health service.<br /><a href="http://www.dh.gov.uk/">www.dh.gov.uk</a> Data Protection Officer at Skipton House 80 London Road London SE1 6LH;</p>
        <p>The Department for Children, Schools and Families (DCSF) uses information about pupils for research and statistical purposes, to inform, influence and improve education policy and to monitor the performance of the education service as a whole.  The DCSF will feed back to LAs and schools information about their pupils for a variety of purposes that will include data checking exercises, use in self-evaluation analyses and where information is missing because it was not passed on by a former school.</p>
        <p>DCSF, with the participation of LAs, operates the database known as ContactPoint.  ContactPoint is an online directory available to authorised staff who need it to do their jobs.  It is designed to allow practitioners to find out who else is working with the child or young person, making it easier to deliver more coordinated support.  Schools are under a statutory duty to pass onto ContactPoint certain information.  This consists of basic information about the child or young person, the contact details of the school and the contact address and telephone numbers for the parents or carers, with parental responsibility<sup>2</sup>, of the child or young person.</p>
        <p>The DCSF will also provide Ofsted with pupil data for use in school inspection.  Where relevant, pupil information may also be shared with post 16 learning institutions to minimise the administrative burden on application for a course and to aid the preparation of learning plans.</p>
        <p>Pupil information may be matched with other data sources that the Department holds in order to model and monitor pupils' educational progression;  and to provide comprehensive information back to LAs and learning institutions to support their day to day business.  The DCSF may also use contact details from these sources to obtain samples for statistical surveys:  these surveys may be carried out by research agencies working under contract to the Department and participation in such surveys is usually voluntary. The Department may also match data from these sources to data obtained from statistical surveys.</p>
        <p>Pupil data may also be shared with other Government Departments and Agencies (including the Office for National Statistics) for statistical or research purposes only.  In all these cases the matching will require that individualised data is used in the processing operation, but that data will not be processed in such a way that it supports measures or decisions relating to particular individuals or identifies individuals in any results.  This data sharing will be approved and controlled by the Department's Chief Statistician.</p>
        <p>The DCSF may also disclose individual pupil information to independent researchers into the educational achievements of pupils who have a legitimate need for it for their research, but each case will be determined on its merits and subject to the approval of the Department's Chief Statistician.<br /><a href="http://www.dcsf.gov.uk/">www.DCSF.gov.uk</a> Data Protection Officer,  DCSF, Sanctuary Buildings, Great Smith Street, LONDON, SW1Y 3BT</p>
        <p>Pupils, as data subjects, have certain rights under the Data Protection Act, including a general right of access to personal data held on them, with parents exercising this right on their behalf if they are too young to do so themselves.  If you wish to access the personal data held about your child, then please contact the relevant organisation in writing.</p>
        <p>1. ContactPoint is a directory that will help people who work with children and young people to quickly find out who else is working with the same child, making it easier to deliver more coordinated support.</p>
        <p>2. All natural parents, whether they are married or not; any person who, although not a natural parent, has parental responsibility (as defined in the Children Act 1989) for a child or young person; and any person who, although not a natural parent, has care of a child or young person.  Having care of a child or young person means that a person with whom the child lives and who looks after the child, irrespective of what their relationship is with the child, is considered to be a parent in education law.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP