LOCATION=ourschool/artsweek/china.html
PARENT=ourschool/index.html
PAGENAME="Arts Week - China"
xHEADER=`mktemp`
cat >>$xHEADER <<EOF
<link rel="stylesheet" href="orbit-1.2.3/orbit-1.2.3.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="orbit-1.2.3/jquery.orbit-1.2.3.js"></script>
<script type="text/javascript">
    \$(function() {
        \$('#events').orbit();
    });
</script>
EOF
EXTRAHEADER=`cat $xHEADER`
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<div id="events">
    <img src="ourschool/artsweek/china/Slide1.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide2.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide3.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide4.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide5.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide6.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide7.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide8.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide9.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide10.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide11.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide12.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide13.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide14.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide15.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide16.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide17.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide18.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide19.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide20.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide21.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide22.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide23.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide24.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide25.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide26.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide27.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide28.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide29.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide30.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide31.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide32.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide33.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide34.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide35.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide36.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide37.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide38.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide39.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide40.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide41.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide42.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide43.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide44.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide45.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide46.JPG" alt="" />
    <img src="ourschool/artsweek/china/Slide47.JPG" alt="" />
</div>
<img src="img/lottery__black.jpg" alt="Supported using public funding from Arts Council England" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
rm $xHEADER
