LOCATION=ourschool/artsweek/australia.html
PARENT=ourschool/index.html
PAGENAME="Arts Week - Australia"
xHEADER=`mktemp`
cat >>$xHEADER <<EOF
<link rel="stylesheet" href="orbit-1.2.3/orbit-1.2.3.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="orbit-1.2.3/jquery.orbit-1.2.3.js"></script>
<script type="text/javascript">
    \$(function() {
        \$('#events').orbit();
    });
</script>
EOF
EXTRAHEADER=`cat $xHEADER`
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<div id="events">
    <img src="ourschool/artsweek-australia/Slide1.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide2.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide3.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide4.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide5.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide6.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide7.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide8.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide9.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide10.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide11.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide12.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide13.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide14.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide15.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide16.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide17.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide18.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide19.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide20.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide21.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide22.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide23.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide24.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide25.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide26.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide27.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide28.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide29.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide30.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide31.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide32.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide33.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide34.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide35.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide36.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide37.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide38.JPG" alt="" />
    <img src="ourschool/artsweek-australia/Slide39.JPG" alt="" />
</div>
<img src="img/lottery__black.jpg" alt="Supported using public funding from Arts Council England" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
rm $xHEADER
