LOCATION=ourschool/attendance.html
PARENT=ourschool/index.html
PAGENAME="Attendance"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<h3>Attendance</h3>

<p>All pupils must be in school on time to start lessons at 8.45 am.</p>

<dl><dt>Lower Foundation Unit</dt><dd>8.45 am - 11.45 am</dd>
<dt>Upper foundation & Sycamore Class</dt><dd>8.45 am - 12.00 pm &amp; 1.00 pm - 2.55 pm</dd>
<dt>Oak, Willow & Chestnut Class</dt><dd>8.45 am - 12.15 pm &amp; 1.00 pm - 3.00 pm</dd></dl>

<p>The doors open at 8.30 am every morning.  Please feel free to come into school and wait with your child until school begins.  If a child is late for whatever reason, they must call in at the office.</p>

<h3>Absences</h3>
<p>Please inform the school's Admin staff either by telephone between 8.30 am and 9.00 am or call in to let us know about any absence.  If the school is not notified the absence will be classified as unauthorised.</p>
<p>If your child needs to leave school during the day for medical appointments etc., would you please send a note or make contact by telephone. Children must be signed out of the building.</p>

<h3>Holidays </h3>

<p>A Holiday form must be completed prior to all holidays for children who will be taking a family holiday during term time.  It is important that you realise taking children out of school will affect progress and learning.</p>
<p>Holidays will only be authorised if certain criteria are met e.g. Up to 10 days if attendance is above 92% for the previous two terms.  Any extra absence is deemed to be unauthorised and may be investigated by the Education Welfare Service.</p>

<h3>Attendance</h3>

<p>Good Attendance is promoted every week and certificates are presented to children with 100% attendance each term.</p>

<h3>Lunch and trip money</h3>

<p>Must be placed in a clearly labelled envelope and put in the box on the teacher's desk in your child's classroom.</p>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP