LOCATION=ourschool/childreninneed2009.html
PARENT=ourschool/index.html
PAGENAME="Children in Need 2009"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
        <div style="text-align:center;"><img src="ourschool/childreninneed2009/cin.gif" /></div>
        <p>Toll Bar Primary Pupils took part in Children in Need 2009.</p>
        <p>The pupils and staff raised £218.90 through a range of activitites:</p>
        <ul>
            <li>Non-uniform or pyjamas day</li>
            <li>Pudsey buns and biscuits on sale</li>
            <li>Raffle</li>
            <li>A giant Pudsey was covered in 2p and 1p's</li>
            <li>To end the day we had fun in the hall!</li>
        </ul>
        <img src="ourschool/childreninneed2009/buns.jpg" />
        <img src="ourschool/childreninneed2009/cin1.jpg" />
        <img src="ourschool/childreninneed2009/cin2.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP