LOCATION=ourschool/dinners.html
PARENT=ourschool/index.html
PAGENAME="School Dinners"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<img src="img/school_dinners.jpg" /
		<p>School dinners cost <strong>&pound;2</strong> per day (&pound;10 per week), for a healthy, locally sourced meal. If paying by cheque, please make cheques payable to DMBC.</p>
		<h3>Packed Lunches</h3>
		<p>For pupils who have packed lunches, they can eat in the community room.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP