LOCATION=ourschool/foodaware.html
PARENT=ourschool/index.html
PAGENAME="Food Aware"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<p>Toll Bar Primary School are pleased to support 'Food Aware CIC'. Weekly deliveries of fresh produce help us to sustain projects and events in school such as:</p>
        <ul>
            <li>Baking and cooking</li>
            <li>Breakfast Club</li>
            <li>Local Community</li>
            <li>Celebrations</li>
            <li>Camping trips</li>
        </ul>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP