LOCATION=ourschool/garden.html
PARENT=ourschool/index.html
PAGENAME="Environmental Garden"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
		<img src="ourschool/garden.jpg" />
		<p>With thanks to the rotary club, we now have a new environmental garden.</p>
		<div style="text-align:center;"><img src="ourschool/gardenfruit.jpg" />
		<img src="ourschool/garden2.jpg" />
		<img src="ourschool/garden3.jpg" />
		<img src="ourschool/garden4.jpg" />
		<img src="ourschool/garden5.jpg" />
		<img src="ourschool/garden6.jpg" />
		<img src="ourschool/garden7.jpg" /></div>
		<h3>Under Construction Photos</h3>
		<div style="text-align:center;"><img src="ourschool/gardenconstruction1.jpg" />
		<img src="ourschool/gardenconstruction2.jpg" />
		<img src="ourschool/gardenconstruction3.jpg" />
		<img src="ourschool/gardenconstruction4.jpg" /></div>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP