LOCATION=ourschool/rewards.html
PARENT=ourschool/index.html
PAGENAME="Rewards and Recognition"
xTEMP=`mktemp`
cat >$xTEMP <<EOF

<p>We recognise good work, effort and behaviour through awards.</p>
<p>Good attendance is celebrated in school through a weekly class competition and a weekly prize draw for full attendance.  Certificates are given to children achieving 98%, 99% and 100% attendance each term.  Shields are presented to children achieving 100% attendance for the full year.</p>

<h3>Team points</h3>
<p>School uses a team points system to reward good behaviour and work.   Team points are something the children strive to achieve and to see if their team wins with the most points each week—will it be Egyptians, Tudors,  Vikings or Romans?</p>
<p>Every half term school celebrates and rewards achievements in and out of the school.  The children receive certificates and this builds up during their time in our school to Bronze, Silver and ultimately Gold awards.</p>

EOF
CONTENT=`cat $xTEMP`
rm $xTEMP