LOCATION=ourschool/sats.html
PARENT=ourschool/index.html
PAGENAME="SATS Results"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<h3>Key Stage 1</h3>
<p>This table shows a summary of the National  Curriculum assessment results of pupils in the school (2009) and nationally  (2008) at the end of Key Stage 1, as a percentage of those eligible for  assessment.</p>
<p>The number of eligible children is: 15</p>
<table border="1" cellspacing="0" cellpadding="0" width="656">
  <tr>
    <td width="656" colspan="11"><p align="center"><strong>RESULTS    OF TEACHER ASSESSMENT</strong></p></td>
  </tr>
  <tr>
    <td rowspan="2"><p align="center">&nbsp;</p>      <p>&nbsp;</p></td>
    <td colspan="10" align="center"><strong>Percentage    at each level</strong></td>
  </tr>
  <tr>
    <td width="89"><p align="center"><strong>&nbsp;</strong></p></td>
    <td width="40"><p align="center"><strong>W</strong></p></td>
    <td width="40"><p align="center"><strong>1</strong></p></td>
    <td width="40"><p align="center"><strong>2</strong></p></td>
    <td width="40"><p align="center"><strong>2C</strong></p></td>
    <td width="40"><p align="center"><strong>2B</strong></p></td>
    <td width="40"><p align="center"><strong>2A</strong></p></td>
    <td width="50"><p align="center"><strong>3 or above</strong></p></td>
    <td width="147"><p align="center"><strong>Disapplied Children</strong></p></td>
    <td width="74"><p align="center"><strong>Absent Children</strong></p></td>
  </tr>
  <tr>
    <td rowspan="4"><p>Speaking and listening </p></td>
    <td width="89"><p align="right">Boys</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">100</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Girls</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="40"><p align="center">90</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Whole School </p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">7</p></td>
    <td width="40"><p align="center">93</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">National</p></td>
    <td width="40"><p align="center">2</p></td>
    <td width="40"><p align="center">11</p></td>
    <td width="40"><p align="center">65</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">21</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td rowspan="4"><p>Reading </p></td>
    <td width="89"><p align="right">Boys</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">40</p></td>
    <td width="40"><p align="center">40</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Girls</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">60</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="50"><p align="center">10</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Whole School </p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">13</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">13</p></td>
    <td width="40"><p align="center">53</p></td>
    <td width="40"><p align="center">13</p></td>
    <td width="50"><p align="center">7</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">National</p></td>
    <td width="40"><p align="center">3</p></td>
    <td width="40"><p align="center">13</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">13</p></td>
    <td width="40"><p align="center">22</p></td>
    <td width="40"><p align="center">24</p></td>
    <td width="50"><p align="center">25</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td rowspan="4"><p>Writing</p></td>
    <td width="89"><p align="right">Boys</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">40</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Girls</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">30</p></td>
    <td width="40"><p align="center">50</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Whole School </p></td>
    <td width="40"><p align="center">13</p></td>
    <td width="40"><p align="center">7</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">27</p></td>
    <td width="40"><p align="center">47</p></td>
    <td width="40"><p align="center">7</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">National</p></td>
    <td width="40"><p align="center">5</p></td>
    <td width="40"><p align="center">15</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">22</p></td>
    <td width="40"><p align="center">27</p></td>
    <td width="40"><p align="center">19</p></td>
    <td width="50"><p align="center">12</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td rowspan="4"><p>Mathematics</p></td>
    <td width="89"><p align="right">Boys</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">40</p></td>
    <td width="50"><p align="center">20</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Girls</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">50</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="50"><p align="center">10</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Whole School </p></td>
    <td width="40"><p align="center">7</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="40"><p align="center">40</p></td>
    <td width="40"><p align="center">20</p></td>
    <td width="50"><p align="center">13</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">National</p></td>
    <td width="40"><p align="center">2</p></td>
    <td width="40"><p align="center">8</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40"><p align="center">16</p></td>
    <td width="40"><p align="center">25</p></td>
    <td width="40"><p align="center">27</p></td>
    <td width="50"><p align="center">21</p></td>
    <td width="147"><p align="center">0</p></td>
    <td width="74"><p align="center">0</p></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p></td>
    <td width="89"><p align="right">&nbsp;</p></td>
    <td width="40"><p align="center"><strong>W</strong></p></td>
    <td width="40"><p align="center"><strong>1</strong></p></td>
    <td width="40"><p align="center"><strong>2</strong></p></td>
    <td width="40"><p align="center"><strong>2C</strong></p></td>
    <td width="40"><p align="center"><strong>2B</strong></p></td>
    <td width="40"><p align="center"><strong>2A</strong></p></td>
    <td width="50"><p align="center"><strong>3 or above</strong></p></td>
    <td width="147" colspan="2"><p align="center"><strong>U</strong></p></td>
  </tr>
  <tr>
    <td rowspan="4"><p>Science </p></td>
    <td width="89"><p align="right">Boys</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">100</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147" colspan="2"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Girls</p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">10</p></td>
    <td width="40"><p align="center">90</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147" colspan="2"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">Whole School </p></td>
    <td width="40"><p align="center">0</p></td>
    <td width="40"><p align="center">7</p></td>
    <td width="40"><p align="center">93</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">0</p></td>
    <td width="147" colspan="2"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="89"><p align="right">National</p></td>
    <td width="40"><p align="center">2</p></td>
    <td width="40"><p align="center">9</p></td>
    <td width="40"><p align="center">67</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="40" bgcolor="#999999"><p align="center">&nbsp;</p></td>
    <td width="50"><p align="center">22</p></td>
    <td width="147" colspan="2" bgcolor="#999999"><p align="center">&nbsp;</p></td>
  </tr>
</table>
<h3>Key Stage 2</h3>
<p>These  tables show a summary of the National Curriculum results of pupils in the  school (2009) and nationally (2008) as a percentage of those eligible for  assessment.</p>
<p>The number of  eligible children is: 18</p>
<table border="1" cellspacing="0" cellpadding="0" width="659">
  <tr>
    <td width="659" colspan="11"><p align="center"><strong>RESULTS OF TEACHER    ASSESSMENT 2009 and NATIONAL 2008</strong></p></td>
  </tr>
  <tr>
    <td width="177" colspan="2" rowspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
    <td width="482" colspan="9"><p align="center"><strong>Percentage at each    level</strong></p></td>
  </tr>
  <tr>
    <td width="47"><p align="center"><strong>W</strong></p></td>
    <td width="47"><p align="center"><strong>1</strong></p></td>
    <td width="47"><p align="center"><strong>2</strong></p></td>
    <td width="47"><p align="center"><strong>3</strong></p></td>
    <td width="47"><p align="center"><strong>4</strong></p></td>
    <td width="47"><p align="center"><strong>5</strong></p></td>
    <td width="47"><p align="center"><strong>6</strong></p></td>
    <td width="85"><p align="center"><strong>Pupils<br />
      disapplied</strong></p></td>
    <td width="66"><p align="center"><strong>Pupils<br />
      absent</strong></p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>English</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">11</p></td>
    <td width="47"><p align="center">17</p></td>
    <td width="47"><p align="center">50</p></td>
    <td width="47"><p align="center">22</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="85"><p align="center">0</p></td>
    <td width="66"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">1</p></td>
    <td width="47"><p align="center">4</p></td>
    <td width="47"><p align="center">16</p></td>
    <td width="47"><p align="center">49</p></td>
    <td width="47"><p align="center">30</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="85"><p align="center">0</p></td>
    <td width="66"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>Mathematics</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">11</p></td>
    <td width="47"><p align="center">50</p></td>
    <td width="47"><p align="center">39</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="85"><p align="center">0</p></td>
    <td width="66"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">1</p></td>
    <td width="47"><p align="center">4</p></td>
    <td width="47"><p align="center">16</p></td>
    <td width="47"><p align="center">46</p></td>
    <td width="47"><p align="center">33</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="85"><p align="center">0</p></td>
    <td width="66"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>Science</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">6</p></td>
    <td width="47"><p align="center">6</p></td>
    <td width="47"><p align="center">39</p></td>
    <td width="47"><p align="center">50</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="85"><p align="center">0</p></td>
    <td width="66"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="47"><p align="center">2</p></td>
    <td width="47"><p align="center">12</p></td>
    <td width="47"><p align="center">47</p></td>
    <td width="47"><p align="center">38</p></td>
    <td width="47"><p align="center">0</p></td>
    <td width="85"><p align="center">0</p></td>
    <td width="66"><p align="center">0</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<table border="1" cellspacing="0" cellpadding="0" width="659">
  <tr>
    <td width="659" colspan="8"><p align="center"><strong>TEST RESULTS 2009    and NATIONAL 2008</strong></p></td>
  </tr>
  <tr>
    <td width="177" colspan="2" rowspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="482" colspan="6"><p align="center"><strong>Percentage at each    level</strong></p></td>
  </tr>
  <tr>
    <td width="76"><p align="center"><strong>Below<br />
      level 3*</strong></p></td>
    <td width="63"><p align="center"><strong>3</strong></p></td>
    <td width="59"><p align="center"><strong>4</strong></p></td>
    <td width="59"><p align="center"><strong>5</strong></p></td>
    <td width="112"><p align="center"><strong>Pupils<br />
      not entered#</strong></p></td>
    <td width="112"><p align="center"><strong>Pupils absent</strong></p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>English</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="76"><p align="center">11</p></td>
    <td width="63"><p align="center">17</p></td>
    <td width="59"><p align="center">56</p></td>
    <td width="59"><p align="center">17</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="76"><p align="center">6</p></td>
    <td width="63"><p align="center">13</p></td>
    <td width="59"><p align="center">51</p></td>
    <td width="59"><p align="center">30</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>Reading</strong><strong> </strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="76"><p align="center">11</p></td>
    <td width="63"><p align="center">6</p></td>
    <td width="59"><p align="center">39</p></td>
    <td width="59"><p align="center">44</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="76"><p align="center">6</p></td>
    <td width="63"><p align="center">6</p></td>
    <td width="59"><p align="center">38</p></td>
    <td width="59"><p align="center">49</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>Writing</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="76"><p align="center">11</p></td>
    <td width="63"><p align="center">39</p></td>
    <td width="59"><p align="center">39</p></td>
    <td width="59"><p align="center">11</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="76"><p align="center">6</p></td>
    <td width="63"><p align="center">26</p></td>
    <td width="59"><p align="center">48</p></td>
    <td width="59"><p align="center">20</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>Mathematics</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="76"><p align="center">6</p></td>
    <td width="63"><p align="center">11</p></td>
    <td width="59"><p align="center">56</p></td>
    <td width="59"><p align="center">28</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="76"><p align="center">5</p></td>
    <td width="63"><p align="center">15</p></td>
    <td width="59"><p align="center">47</p></td>
    <td width="59"><p align="center">31</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="102" rowspan="2"><p><strong>Science</strong></p></td>
    <td width="76"><p align="right"><strong>School</strong></p></td>
    <td width="76"><p align="center">6</p></td>
    <td width="63"><p align="center">0</p></td>
    <td width="59"><p align="center">56</p></td>
    <td width="59"><p align="center">39</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="76"><p align="right"><strong>National</strong></p></td>
    <td width="76"><p align="center">2</p></td>
    <td width="63"><p align="center">8</p></td>
    <td width="59"><p align="center">44</p></td>
    <td width="59"><p align="center">44</p></td>
    <td width="112"><p align="center">0</p></td>
    <td width="112"><p align="center">1</p></td>
  </tr>
</table>
<h4>By Gender</h4>
<p>This table shows a summary of the National Curriculum teacher assessment results for  pupils in the school (2009) and nationally (2008) at the end of Key Stage 2 as  a percentage of those eligible for assessment. Results have been broken down by gender.</p>
<p>The number of eligible children is: 18</p>
<table border="1" cellspacing="0" cellpadding="0" width="635">
  <tr>
    <td width="635" colspan="11"><p align="center"><strong>RESULTS OF TEACHER    ASSESSMENT 2009 AND NATIONAL 2008</strong></p></td>
  </tr>
  <tr>
    <td width="137" rowspan="2" valign="top"><p>&nbsp;</p></td>
    <td width="498" colspan="10"><p align="center"><strong>Percentage at each    level</strong></p></td>
  </tr>
  <tr>
    <td width="78" valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
    <td width="34"><p align="center"><strong>W</strong></p></td>
    <td width="34"><p align="center"><strong>1</strong></p></td>
    <td width="34"><p align="center"><strong>2</strong></p></td>
    <td width="34"><p align="center"><strong>3</strong></p></td>
    <td width="34"><p align="center"><strong>4</strong></p></td>
    <td width="34"><p align="center"><strong>5</strong></p></td>
    <td width="34"><p align="center"><strong>6</strong></p></td>
    <td width="104"><p align="center"><strong>Pupils</strong><br />
      <strong>Disapplied</strong></p></td>
    <td width="81"><p align="center"><strong>Pupils absent</strong></p></td>
  </tr>
  <tr>
    <td width="137" rowspan="4"><p><strong>English</strong></p></td>
    <td width="78"><p align="right">School</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">11</p></td>
    <td width="34"><p align="center">17</p></td>
    <td width="34"><p align="center">50</p></td>
    <td width="34"><p align="center">22</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">Boys</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">18</p></td>
    <td width="34"><p align="center">18</p></td>
    <td width="34"><p align="center">55</p></td>
    <td width="34"><p align="center">9</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">Girls</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">14</p></td>
    <td width="34"><p align="center">43</p></td>
    <td width="34"><p align="center">43</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">National</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">1</p></td>
    <td width="34"><p align="center">4</p></td>
    <td width="34"><p align="center">16</p></td>
    <td width="34"><p align="center">49</p></td>
    <td width="34"><p align="center">30</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="137" rowspan="4"><p><strong>Mathematics</strong></p></td>
    <td width="78"><p align="right">School</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">11</p></td>
    <td width="34"><p align="center">50</p></td>
    <td width="34"><p align="center">39</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">Boys</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">9</p></td>
    <td width="34"><p align="center">45</p></td>
    <td width="34"><p align="center">45</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">Girls</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">14</p></td>
    <td width="34"><p align="center">57</p></td>
    <td width="34"><p align="center">29</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">National</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">1</p></td>
    <td width="34"><p align="center">4</p></td>
    <td width="34"><p align="center">16</p></td>
    <td width="34"><p align="center">46</p></td>
    <td width="34"><p align="center">33</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="137" rowspan="4"><p><strong>Science</strong></p></td>
    <td width="78"><p align="right">School</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">6</p></td>
    <td width="34"><p align="center">6</p></td>
    <td width="34"><p align="center">39</p></td>
    <td width="34"><p align="center">50</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">Boys</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">9</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">45</p></td>
    <td width="34"><p align="center">45</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">Girls</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">14</p></td>
    <td width="34"><p align="center">29</p></td>
    <td width="34"><p align="center">57</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="78"><p align="right">National</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="34"><p align="center">2</p></td>
    <td width="34"><p align="center">12</p></td>
    <td width="34"><p align="center">47</p></td>
    <td width="34"><p align="center">38</p></td>
    <td width="34"><p align="center">0</p></td>
    <td width="104"><p align="center">0</p></td>
    <td width="81"><p align="center">0</p></td>
  </tr>
</table>
<p>This  table shows a summary of the National Curriculum test results for pupils in the  school (2009) and nationally (2008) at the end of Key Stage 2 as a percentage  of those eligible for assessment.   Results have been broken down by gender.</p>
<p>The  number of eligible children is: 18</p>
<table border="1" cellspacing="0" cellpadding="0" width="657">
  <tr>
    <td width="657" colspan="8"><p align="center"><strong>TEST RESULTS 2009    and NATIONAL 2008</strong></p></td>
  </tr>
  <tr>
    <td width="657" rowspan="2" valign="top"><p>&nbsp;</p></td>
    <td colspan="7" valign="top"><p align="center"><strong>&nbsp;</strong><strong>Percentage at each    level</strong></p></td>
  </tr>
  <tr>
    <td width="113" valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
    <td width="423"><p align="center"><strong>Below </strong><br />
      <strong>level 3*</strong></p></td>
    <td width="63"><p align="center"><strong>3</strong></p></td>
    <td width="59"><p align="center"><strong>4</strong></p></td>
    <td width="59"><p align="center"><strong>5</strong></p></td>
    <td width="90"><p align="center"><strong>Pupils</strong><br />
      <strong>not entered#</strong></p></td>
    <td width="76"><p align="center"><strong>Pupils absent</strong></p></td>
  </tr>
  <tr>
    <td width="657" rowspan="4"><p><strong>English</strong></p></td>
    <td width="113"><p align="right">School</p></td>
    <td width="423"><p align="center">11</p></td>
    <td width="63"><p align="center">17</p></td>
    <td width="59"><p align="center">56</p></td>
    <td width="59"><p align="center">17</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Boys</p></td>
    <td width="423"><p align="center">18</p></td>
    <td width="63"><p align="center">27</p></td>
    <td width="59"><p align="center">45</p></td>
    <td width="59"><p align="center">9</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Girls</p></td>
    <td width="423"><p align="center">0</p></td>
    <td width="63"><p align="center">0</p></td>
    <td width="59"><p align="center">71</p></td>
    <td width="59"><p align="center">29</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">National</p></td>
    <td width="423"><p align="center">6</p></td>
    <td width="63"><p align="center">13</p></td>
    <td width="59"><p align="center">51</p></td>
    <td width="59"><p align="center">30</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="657" rowspan="4"><p><strong>Reading</strong></p></td>
    <td width="113"><p align="right">School</p></td>
    <td width="423"><p align="center">11</p></td>
    <td width="63"><p align="center">6</p></td>
    <td width="59"><p align="center">39</p></td>
    <td width="59"><p align="center">44</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Boys</p></td>
    <td width="423"><p align="center">18</p></td>
    <td width="63"><p align="center">9</p></td>
    <td width="59"><p align="center">45</p></td>
    <td width="59"><p align="center">27</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Girls</p></td>
    <td width="423"><p align="center">0</p></td>
    <td width="63"><p align="center">0</p></td>
    <td width="59"><p align="center">29</p></td>
    <td width="59"><p align="center">71</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">National</p></td>
    <td width="423"><p align="center">6</p></td>
    <td width="63"><p align="center">6</p></td>
    <td width="59"><p align="center">38</p></td>
    <td width="59"><p align="center">49</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="657" rowspan="4"><p><strong>Writing</strong></p></td>
    <td width="113"><p align="right">School</p></td>
    <td width="423"><p align="center">11</p></td>
    <td width="63"><p align="center">39</p></td>
    <td width="59"><p align="center">39</p></td>
    <td width="59"><p align="center">11</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Boys</p></td>
    <td width="423"><p align="center">18</p></td>
    <td width="63"><p align="center">55</p></td>
    <td width="59"><p align="center">27</p></td>
    <td width="59"><p align="center">0</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Girls</p></td>
    <td width="423"><p align="center">0</p></td>
    <td width="63"><p align="center">14</p></td>
    <td width="59"><p align="center">57</p></td>
    <td width="59"><p align="center">29</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">National</p></td>
    <td width="423"><p align="center">6</p></td>
    <td width="63"><p align="center">26</p></td>
    <td width="59"><p align="center">48</p></td>
    <td width="59"><p align="center">20</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="657" rowspan="4"><p><strong>Mathematics</strong></p></td>
    <td width="113"><p align="right">School</p></td>
    <td width="423"><p align="center">6</p></td>
    <td width="63"><p align="center">11</p></td>
    <td width="59"><p align="center">56</p></td>
    <td width="59"><p align="center">28</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Boys</p></td>
    <td width="423"><p align="center">9</p></td>
    <td width="63"><p align="center">9</p></td>
    <td width="59"><p align="center">55</p></td>
    <td width="59"><p align="center">27</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Girls</p></td>
    <td width="423"><p align="center">0</p></td>
    <td width="63"><p align="center">14</p></td>
    <td width="59"><p align="center">57</p></td>
    <td width="59"><p align="center">29</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">National</p></td>
    <td width="423"><p align="center">5</p></td>
    <td width="63"><p align="center">15</p></td>
    <td width="59"><p align="center">47</p></td>
    <td width="59"><p align="center">31</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">1</p></td>
  </tr>
  <tr>
    <td width="657" rowspan="4"><p><strong>Science</strong></p></td>
    <td width="113"><p align="right">School</p></td>
    <td width="423"><p align="center">6</p></td>
    <td width="63"><p align="center">0</p></td>
    <td width="59"><p align="center">56</p></td>
    <td width="59"><p align="center">39</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Boys</p></td>
    <td width="423"><p align="center">9</p></td>
    <td width="63"><p align="center">0</p></td>
    <td width="59"><p align="center">45</p></td>
    <td width="59"><p align="center">45</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">Girls</p></td>
    <td width="423"><p align="center">0</p></td>
    <td width="63"><p align="center">0</p></td>
    <td width="59"><p align="center">71</p></td>
    <td width="59"><p align="center">29</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">0</p></td>
  </tr>
  <tr>
    <td width="113"><p align="right">National</p></td>
    <td width="423"><p align="center">2</p></td>
    <td width="63"><p align="center">8</p></td>
    <td width="59"><p align="center">44</p></td>
    <td width="59"><p align="center">44</p></td>
    <td width="90"><p align="center">0</p></td>
    <td width="76"><p align="center">1</p></td>
  </tr>
</table>
<h3>Notes</h3>

<p>Figures may not total 100 per cent because of  rounding.<br />
  W represents children who are working towards  level 1, but have not yet achieved the standards needed for level 1.  <br />
U  represents children for whom it is not possible to determine a level.<br />
* represents pupils who were not entered for  the tests because they were working below level 3 in English, mathematics or  science; pupils awarded a compensatory level from the tests; and pupils entered  for but not achieving a level from the tests.<br />
<strong>#</strong> represents pupils working at the  levels of the tests, but unable to access them, formally referred to as  disapplied.</p>
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP