LOCATION=ourschool/wideropps.html
PARENT=ourschool/index.html
PAGENAME="Wider Opportunities Programme"
xTEMP=`mktemp`
cat >$xTEMP <<EOF
    <h3>Learning a Brass Instrument</h3>
        <img src="ourschool/brass1.jpg" />
        <img src="ourschool/brass2.jpg" />
        <img src="ourschool/brass3.jpg" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP