LOCATION=ourschool/sportsday/2011.html
PARENT=ourschool/index.html
PAGENAME="Sports Day 2011"
xHEADER=`mktemp`
cat >>$xHEADER <<EOF
<link rel="stylesheet" href="orbit-1.2.3/orbit-1.2.3.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="orbit-1.2.3/jquery.orbit-1.2.3.js"></script>
<script type="text/javascript">
    \$(function() {
        \$('#events').orbit();
    });
</script>
EOF
EXTRAHEADER=`cat $xHEADER`
xTEMP=`mktemp`
cat >$xTEMP <<EOF
<div id="events">
    <img src="ourschool/sportsday/2011/Slide1.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide2.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide3.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide4.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide5.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide6.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide7.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide8.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide9.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide10.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide11.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide12.JPG" alt="" />
    <img src="ourschool/sportsday/2011/Slide13.JPG" alt="" />
</div>
<img src="img/lottery__black.jpg" alt="Supported using public funding from Arts Council England" />
EOF
CONTENT=`cat $xTEMP`
rm $xTEMP
rm $xHEADER
